flows/Academy_Student.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Academy_Student_Id</name>
        <label>Set Academy Student Id</label>
        <locationX>965</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>varAcademyStudent.GitHub_Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GitHub_username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcademyStudent.Student_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcademyStudent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcademyStudent.Job_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcademyStudent.Git_Knowledge_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GitKnowledge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Academy_Student</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Academy_Student_Exist</name>
        <label>Does Academy Student Exist?</label>
        <locationX>957</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Create_Academy_Student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Academy Student Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Academy_Student_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcademyStudent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Academy_Student_Id</targetReference>
            </connector>
            <label>Academy Student Exists</label>
        </rules>
    </decisions>
    <description>The flow gets the actual user and the linked contact. Then it searches for an Academy Student linked to the contact. If the Academy Student exists, it will update with the information provided. If the Academy Student doesn&apos;t exist, it will create one with the details provided. If there is already an Academy Student with the provided email in the screen, but it is linked to a different contact, an error message will appear indicating the problem, and a contact email.</description>
    <dynamicChoiceSets>
        <name>GitKnowledgeLevelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Git_Knowledge_Level__c</picklistField>
        <picklistObject>Academy_Certification_Student__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JobRolepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Role__c</picklistField>
        <picklistObject>Academy_Certification_Student__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>created_or_updated</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Academy_Student}, &quot;created&quot;, &quot;updated&quot;)</expression>
    </formulas>
    <formulas>
        <name>Current_User_id_form</name>
        <dataType>String</dataType>
        <expression>{!$user.Id}</expression>
    </formulas>
    <interviewLabel>Academy Student {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Academy Student</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Academy_Student</name>
        <label>Create Academy Student</label>
        <locationX>733</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_for_Create_Student</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GitHub_Username__c</field>
            <value>
                <elementReference>GitHub_username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Git_Knowledge_Level__c</field>
            <value>
                <elementReference>GitKnowledge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Role__c</field>
            <value>
                <elementReference>JobRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Email__c</field>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Academy_Certification_Student__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Academy_Students</name>
        <label>Get Academy Students</label>
        <locationX>965</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Academy_Student_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactRecord.Id</elementReference>
            </value>
        </filters>
        <object>Academy_Certification_Student__c</object>
        <outputReference>varAcademyStudent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Student_Email__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Job_Role__c</queriedFields>
        <queriedFields>Git_Knowledge_Level__c</queriedFields>
        <queriedFields>GitHub_Username__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>724</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Academy_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>503</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_User_id_form</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User</name>
        <label>Get Existing User</label>
        <locationX>270</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </filters>
        <object>Academy_Certification_Student__c</object>
        <outputReference>ExistingStudentWithEmail</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Academy_Student</name>
        <label>Update Academy Student</label>
        <locationX>738</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_for_Create_Student</targetReference>
        </faultConnector>
        <inputReference>varAcademyStudent</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>583</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;Thank you! You are all set! &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Your Academy Student has been {!created_or_updated}!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_for_Create_Student</name>
        <label>Error Message for Create Student</label>
        <locationX>306</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageForCreate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Oops! We can&apos;t seem to proceed with your request. This &lt;/span&gt;email address ({!contact.Email}) is already in use. Please contact academy@copado.com to get some help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Community user details</description>
        <name>Your_Information</name>
        <label>Your Information</label>
        <locationX>152</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_User</targetReference>
        </connector>
        <fields>
            <name>fullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>GitHub_username</name>
            <dataType>String</dataType>
            <fieldText>GitHub username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>JobRole</name>
            <choiceReferences>JobRolepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which role better fits your job?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GitKnowledge</name>
            <choiceReferences>GitKnowledgeLevelPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you familiar with Git version control?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Your_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingAcademyStudent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingStudentWithEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Academy_Certification_Student__c</objectType>
    </variables>
    <variables>
        <name>userRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcademyStudent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Academy_Certification_Student__c</objectType>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
