flows/ACV_ARR_Calculation_on_Quote_Line.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Product2</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SBQQ__Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SBQQ__Product__r.Non_Standard_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Product Identification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>ACV/ARR Calculation</label>
        </rules>
    </decisions>
    <description>ACV &amp; ARR Calculation on Quote Line</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
(ISBLANK([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c) &amp;&amp; ISBLANK([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c)), 
IF(
[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c &lt;=12, IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c  = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12),
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12, null)
), 
IF(
MCEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12)) &lt;=12, 
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/CEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12))  )*12),
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/CEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12))  )*12, null)
)
)
 * (1/CURRENCYRATE(TEXT([SBQQ__QuoteLine__c].CurrencyIsoCode)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A3_2924685485</name>
        <dataType>Number</dataType>
        <expression>IF(
(ISBLANK({!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c}) &amp;&amp; ISBLANK({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c})), 
IF(
{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} &lt;=12, IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c}  = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12),
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12, null)
), 
IF(
MCEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12)) &lt;=12, 
IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c} = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/CEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12))  )*12),
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/CEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12))  )*12, null)
)
)
 * (1/CURRENCYRATE(TEXT({!myVariable_current.CurrencyIsoCode})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
(ISBLANK([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c) &amp;&amp; ISBLANK([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c)), 
IF(
[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c &lt;=12, IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c  = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12),
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12, null)
), 
IF(
MCEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12)) &lt;=12, 
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/MCEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12))  )*12),
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/MCEILING(([SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__EndDate__c - [SBQQ__QuoteLine__c].SBQQ__Group__r.SBQQ__StartDate__c)/(365/12))  )*12, null)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_3_A3_8916910760</name>
        <dataType>Currency</dataType>
        <expression>IF(
(ISBLANK({!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c}) &amp;&amp; ISBLANK({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c})), 
IF(
{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} &lt;=12, IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c}  = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12),
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12, null)
), 
IF(
MCEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12)) &lt;=12, 
IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c} = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/MCEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12))  )*12),
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/MCEILING(({!myVariable_current.SBQQ__Group__r.SBQQ__EndDate__c} - {!myVariable_current.SBQQ__Group__r.SBQQ__StartDate__c})/(365/12))  )*12, null)
)
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/Round(([SBQQ__QuoteLine__c].SBQQ__EffectiveEndDate__c-[SBQQ__QuoteLine__c].SBQQ__EffectiveStartDate__c)/(365/12),0)) * 12)* (1/CURRENCYRATE(TEXT([SBQQ__QuoteLine__c].CurrencyIsoCode)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_3_A2_3561991311</name>
        <dataType>Number</dataType>
        <expression>(({!myVariable_current.SBQQ__NetTotal__c}/Round(({!myVariable_current.SBQQ__EffectiveEndDate__c}-{!myVariable_current.SBQQ__EffectiveStartDate__c})/(365/12),0)) * 12)* (1/CURRENCYRATE(TEXT({!myVariable_current.CurrencyIsoCode})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/Round(([SBQQ__QuoteLine__c].SBQQ__EffectiveEndDate__c-[SBQQ__QuoteLine__c].SBQQ__EffectiveStartDate__c)/(365/12),0)) * 12</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_3_A2_1756198709</name>
        <dataType>Currency</dataType>
        <expression>({!myVariable_current.SBQQ__NetTotal__c}/Round(({!myVariable_current.SBQQ__EffectiveEndDate__c}-{!myVariable_current.SBQQ__EffectiveStartDate__c})/(365/12),0)) * 12</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c &lt;=12, 
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c  = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12) ,
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12, null)
) * (1/CURRENCYRATE(TEXT([SBQQ__QuoteLine__c].CurrencyIsoCode)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_3_A1_3829755343</name>
        <dataType>Number</dataType>
        <expression>IF(
{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} &lt;=12, 
IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c}  = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12) ,
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12, null)
) * (1/CURRENCYRATE(TEXT({!myVariable_current.CurrencyIsoCode})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c &lt;=12, 
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c  = true, [SBQQ__QuoteLine__c].SBQQ__NetTotal__c, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12) ,
IF([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true, ([SBQQ__QuoteLine__c].SBQQ__NetTotal__c/[SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c  )*12, null)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_3_A1_7548746995</name>
        <dataType>Currency</dataType>
        <expression>IF(
{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} &lt;=12, 
IF({!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c}  = true, {!myVariable_current.SBQQ__NetTotal__c}, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12) ,
IF({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true, ({!myVariable_current.SBQQ__NetTotal__c}/{!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}  )*12, null)
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW() &amp;&amp;
[SBQQ__QuoteLine__c].SBQQ__Product__c != null &amp;&amp;
([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true || [SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c = true ||
ISPICKVAL([SBQQ__QuoteLine__c].SBQQ__Quote__r.SBQQ__Type__c, &apos;Renewal&apos;) ))
||
([SBQQ__QuoteLine__c].SBQQ__Product__c != null &amp;&amp;
([SBQQ__QuoteLine__c].SBQQ__Product__r.ACV_ARR_Product__c = true || [SBQQ__QuoteLine__c].SBQQ__Product__r.Non_Standard_Product__c = true) &amp;&amp;
(ISCHANGED([SBQQ__QuoteLine__c].SBQQ__NetTotal__c)||
ISCHANGED([SBQQ__QuoteLine__c].SBQQ__Quote__r.PS_CPQ_Term_in_Months__c))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp;
{!myVariable_current.SBQQ__Product__c} != null &amp;&amp;
({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true || {!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c} = true ||
ISPICKVAL({!myVariable_current.SBQQ__Quote__r.SBQQ__Type__c}, &apos;Renewal&apos;) ))
||
({!myVariable_current.SBQQ__Product__c} != null &amp;&amp;
({!myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c} = true || {!myVariable_current.SBQQ__Product__r.Non_Standard_Product__c} = true) &amp;&amp;
(ISCHANGED({!myVariable_current.SBQQ__NetTotal__c})||
ISCHANGED({!myVariable_current.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}))
)</expression>
    </formulas>
    <interviewLabel>ACV_ARR_Calculation_on_Quote_Line-30_InterviewLabel</interviewLabel>
    <label>ACV &amp; ARR Calculation on Quote Line</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SBQQ__QuoteLine__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__QuoteLine__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update ACV Product</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACV/ARR Product</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ACV_ARR_Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACV/ARR Product</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ACV_ARR_Product__c</field>
            <value>
                <elementReference>myVariable_current.SBQQ__Product__r.ACV_ARR_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__QuoteLine__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Non Standard Product</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Non Standard Product</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Non_Standard_Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>myVariable_current.SBQQ__Product__r.Non_Standard_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Non Standard Product</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Non_Standard_Product__c</field>
            <value>
                <elementReference>myVariable_current.SBQQ__Product__r.Non_Standard_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__QuoteLine__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Non Group: ACV Value</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Group</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>SBQQ__QuoteLineGroup__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>SBQQ__Group__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Annualized ACV (Converted)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Annualized_ACV_Converted__c</field>
            <value>
                <elementReference>formula_8_myRule_3_A1_3829755343</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Annualized ACV</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Annualized_ACV__c</field>
            <value>
                <elementReference>formula_9_myRule_3_A1_7548746995</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__QuoteLine__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update ARR Value</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_3_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACV/ARR Product</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>ACV_ARR_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ARR (Converted)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ARR_Converted__c</field>
            <value>
                <elementReference>formula_6_myRule_3_A2_3561991311</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ARR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ARR__c</field>
            <value>
                <elementReference>formula_7_myRule_3_A2_1756198709</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__QuoteLine__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A3</name>
        <label>Update Group: ACV Value</label>
        <locationX>300</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Group</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>SBQQ__QuoteLineGroup__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>SBQQ__Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Annualized ACV (Converted)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Annualized_ACV_Converted__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A3_2924685485</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Annualized ACV</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Annualized_ACV__c</field>
            <value>
                <elementReference>formula_5_myRule_3_A3_8916910760</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
