flows/Add_Work_Log.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Time_And_Comments_Assignment</name>
        <label>Time And Comments Assignment</label>
        <locationX>749</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>Work_Log.Time_Spent_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Spent_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Log.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Log_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Story_Assignment</name>
        <label>User Story Assignment</label>
        <locationX>511</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>Work_Log.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Story.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_And_Comments_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Story_Task_Assignment</name>
        <label>User Story Task Assignment</label>
        <locationX>990</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Work_Log.User_Story_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Story_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_And_Comments_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Is_Parent</name>
        <label>What Is Parent Of Work Log</label>
        <locationX>738</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Story_is_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Assignment</targetReference>
            </connector>
            <label>User Story is parent</label>
        </rules>
        <rules>
            <name>User_Story_Task_is_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Task_Assignment</targetReference>
            </connector>
            <label>User Story Task is parent</label>
        </rules>
    </decisions>
    <description>Screen for adding Work Log to User Story or User Story Task</description>
    <interviewLabel>Add Work Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Work Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Log_record</name>
        <label>Create Work Log record</label>
        <locationX>749</locationX>
        <locationY>579</locationY>
        <inputReference>Work_Log</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get User Story if recordId matches User Story record.</description>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>449</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Story_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User Story Task if recordId matches User Story Task record.</description>
        <name>Get_User_Story_Task</name>
        <label>Get User Story Task</label>
        <locationX>598</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story_Task__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Work_Log</name>
        <label>Create Work Log</label>
        <locationX>746</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Is_Parent</targetReference>
        </connector>
        <fields>
            <name>Time_Spent_hours</name>
            <dataType>Number</dataType>
            <fieldText>Time Spent (hours)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Time Spent (hours) have to be greater then 0.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Time_Spent_hours} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Log__c</objectType>
    </variables>
</Flow>
