flows/Calculate_Copado_Robotic_Testing_ACV_on_QuoteLines.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Calculate_ACV_of_CRT_Products</name>
        <label>Calculate ACV of CRT Products</label>
        <locationX>958</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateACVOfCRTProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_ACV_of_Success_plus_Product</name>
        <label>Calculate ACV of Success+ Product</label>
        <locationX>1095</locationX>
        <locationY>95</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateACVOfSuccessPlus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_ACV_of_Success_Product</name>
        <label>Calculate ACV of Success Product</label>
        <locationX>757</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateACVOfSuccessProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_CRT_and_success_products</name>
        <label>Check if CRT and success products</label>
        <locationX>168</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CRT_and_success_products</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetTotal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Quote</targetReference>
            </connector>
            <label>If CRT and success products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_Amount_not_null</name>
        <label>Check Total Amount not null</label>
        <locationX>583</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Amount_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote</targetReference>
            </connector>
            <label>Total Amount not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CRT_Success_Success_plus_product</name>
        <label>If CRT Success/Success plus product</label>
        <locationX>881</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copado_Success_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_Success_Product</targetReference>
            </connector>
            <label>Copado Success product</label>
        </rules>
        <rules>
            <name>Copado_Success_plus_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_Success_plus_Product</targetReference>
            </connector>
            <label>Copado Success plus product</label>
        </rules>
        <rules>
            <name>CRT_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Product_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_CRT_Products</targetReference>
            </connector>
            <label>CRT Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculateACVOfCRTProduct</name>
        <dataType>Currency</dataType>
        <expression>{!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateACVOfSuccessPlus</name>
        <dataType>Currency</dataType>
        <expression>{!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} * 12 * 1.25</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateACVOfSuccessProduct</name>
        <dataType>Currency</dataType>
        <expression>{!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} * 12 * 1.15</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Calculate Copado Robotic Testing ACV on QuoteLines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Copado Robotic Testing ACV on QuoteLines</label>
    <loops>
        <name>loop_on_QuoteLines</name>
        <label>loop on QuoteLines</label>
        <locationX>663</locationX>
        <locationY>306</locationY>
        <collectionReference>get_related_QuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_CRT_Success_Success_plus_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_Amount_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Quote</name>
        <label>get Quote</label>
        <locationX>390</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_related_QuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Copado_Robotic_Testing_ACV__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_QuoteLines</name>
        <label>get related QuoteLines</label>
        <locationX>510</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRT_and_Success_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRT_and_Success_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__NetTotal__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>413</locationX>
        <locationY>112</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Copado_Robotic_Testing_ACV__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_CRT_and_success_products</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountSuccessPlusProduct</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountSuccessProduct</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
