flows/Centro_Platform_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_User_Story</name>
        <label>Post User Story</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <actionName>Centro__NotifyFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Current_Link_to_Slack_Channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>buttons</name>
            <value>
                <stringValue>[{&quot;label&quot;:&quot;Open Pull Request&quot;,&quot;name&quot;:&quot;Open_Pull_Request&quot;,&quot;URL&quot;:&quot;{!varURL}/apex/copado__UserStoryPageWaitingFor?id={!varRecordId}&amp;type=co_pullRequest&quot;,&quot;id&quot;:&quot;0.44623670820424&quot;,&quot;invocation&quot;:&quot;REPLACE_ME&quot;,&quot;delete&quot;:false,&quot;event&quot;:false,&quot;auth&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>{!varChannelId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Hey here&apos;s your user story.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showCompactLayout</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Vars</name>
        <label>Set Vars</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>varChannelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Centro__ChannelId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Centro__Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_User_Story</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Channel</name>
        <label>New Channel</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Channel_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Centro__API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Linked_Channel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Centro__Value__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a16</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vars</targetReference>
            </connector>
            <label>New Channel Created?</label>
        </rules>
    </decisions>
    <formulas>
        <name>varURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Centro Platform Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Centro Platform Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Current_Link_to_Slack_Channel</name>
        <label>Update Current Link to Slack Channel</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Centro__Value__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Centro_Slack_Channel__c</field>
            <value>
                <elementReference>$Record.Centro__ChannelId__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Channel</targetReference>
        </connector>
        <object>Centro__Action__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varChannelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
