flows/Chatter_to_Renewal_Opp_Owner_within_120_days_of_Renewal_Opp_creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Renewal_Opp_Owner</name>
        <label>Send to Renewal Opp Owner</label>
        <locationX>616</locationX>
        <locationY>83</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loop_on_Renewal_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterNotificationToRenewalOppOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loop_on_Renewal_Opportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Check_Renewal_Opp_Close_Date_less_or_equal_to_120_days_to_new_Opp_CreatedDate</name>
        <label>Check Renewal Opp Close Date less or equal to 120 days to new Opp CreatedDate</label>
        <locationX>866</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>numberOfDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateandCreatedDateDiff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X120_days_to_renewal_Opp_close_date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Renewal_Opportunity</name>
        <label>Check Renewal Opportunity</label>
        <locationX>175</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>If Renewal Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>X120_days_to_renewal_Opp_close_date</name>
        <label>120 days to renewal Opp close date</label>
        <locationX>858</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>loop_on_Renewal_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_120_days_to_renewal_close_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Renewal_Opp_Owner</targetReference>
            </connector>
            <label>if 120 days to renewal close date</label>
        </rules>
    </decisions>
    <description>This scheduled flow query all the today&apos;s created renewal opportunity and check created date is less or equal to 120 days from the existing renewal opportunity of same account and send chatter to renewal Opportunity Owner.</description>
    <formulas>
        <name>CloseDateandCreatedDateDiff</name>
        <dataType>Number</dataType>
        <expression>{!loop_on_Renewal_Opportunity.CloseDate} - DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>detailLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Chatter to Renewal Opp Owner within 120 days of new Renewal Opp creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter to Renewal Opp Owner within 120 days of Renewal Opp creation</label>
    <loops>
        <name>loop_on_Renewal_Opportunity</name>
        <label>loop on Renewal Opportunity</label>
        <locationX>702</locationX>
        <locationY>293</locationY>
        <collectionReference>getOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Renewal_Opp_Close_Date_less_or_equal_to_120_days_to_new_Opp_CreatedDate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>380</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>587</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>479</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>154</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Check_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCreatedToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-17</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatterNotificationToRenewalOppOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!loop_on_Renewal_Opportunity.OwnerId}] ,
There was a new Opportunity {!detailLink} that was created on this Account by @[{!$Record.CreatedById}].</text>
    </textTemplates>
    <variables>
        <name>numberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
