flows/Contract_Start_Date_and_End_Date_On_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Contract Start Date and End Date On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Start Date and End Date On Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_Record_By_Id</name>
        <label>Get Contract Record By Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ContractTerm</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Contract Date update on opportunity</description>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record_By_Id.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractTerm__c</field>
            <value>
                <elementReference>Get_Contract_Record_By_Id.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Get_Contract_Record_By_Id.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Get_Contract_Record_By_Id.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record_By_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
