flows/Copado_Application_Approval_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APO_Submit_for_Approval</name>
        <label>APO Submit for Approval</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>APOSuccessApprovalScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>APO_User_Story_Release_Manager_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Approval_Process</name>
        <label>Check Approval Process</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>InvokeReleaseApprovalProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_APO_User_Story_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApprovalProcessResult</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Submitted_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Copado_Application_User_Story_Approval2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getUserStory.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Has_Errors</name>
        <label>Has Errors</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Errors_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUserStory.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_APO_User_Story_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>No errors</label>
        </rules>
        <rules>
            <name>No_errors_APO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUserStory.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_APO_User_Story_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APO_Submit_for_Approval</targetReference>
            </connector>
            <label>No errors APO</label>
        </rules>
    </decisions>
    <interviewLabel>Copado Application Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Application Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_APO_User_Story_Record_Type</name>
        <label>Get APO User Story Record Type</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Errors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APO User Story</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserStory</name>
        <label>getUserStory</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>APOSuccessApprovalScreen</name>
        <label>APOSuccessApprovalScreen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>APOSuccessApprovalScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;User story submitted for approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errors_Found</name>
        <label>Errors Found</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultMessage_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Sorry, but you can’t submit for approval this user story.
Please solve this errors:
{!ApprovalProcessResult}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InfoMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Related info&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Last validation status: {!getUserStory.copado__Last_Validation_Deployment_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextError</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Sorry, but you can’t submit for approval this user story.
Please solve this errors:
{!$Flow.FaultMessage}
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_screen</name>
        <label>Submitted screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submitted</name>
            <fieldText>&lt;p&gt;User story submitted for approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUserStory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalProcessResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
