flows/Coupon_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Coupon_Approved_Email</name>
        <label>Send Coupon Approved Email</label>
        <locationX>726</locationX>
        <locationY>109</locationY>
        <actionName>ltcomm__Coupon__c.Coupon_Request_Approved</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCoupon.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Coupon Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coupon Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Coupon</name>
        <label>New Coupon</label>
        <locationX>559</locationX>
        <locationY>108</locationY>
        <assignRecordIdToReference>NewCoupon.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Coupon_Approved_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Mentorship_Program__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CouponRequest.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CouponRequest.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Type__c</field>
            <value>
                <stringValue>Learner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Description__c</field>
            <value>
                <elementReference>CouponRequest.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Quantity__c</field>
            <value>
                <elementReference>CouponRequest.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Type__c</field>
            <value>
                <stringValue>Dollar value</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Valid_From__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Valid_To__c</field>
            <value>
                <elementReference>CouponRequest.Valid_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltcomm__Value__c</field>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </inputAssignments>
        <object>ltcomm__Coupon__c</object>
    </recordCreates>
    <recordLookups>
        <name>Coupon_Request</name>
        <label>Coupon Request</label>
        <locationX>370</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Coupon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CouponRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Coupon_Request__c</object>
        <outputReference>CouponRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Valid_To__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>184</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Coupon_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CouponDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CouponExpiration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CouponName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CouponRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Coupon_Request__c</objectType>
    </variables>
    <variables>
        <name>NewCoupon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ltcomm__Coupon__c</objectType>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
