flows/Create_Subtask_from_Parent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>objectapiname</name>
        <dataType>String</dataType>
        <value>
            <stringValue>copado__User_Story__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>subtaskRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Subtask</stringValue>
        </value>
    </constants>
    <description>With Assignee Identifier</description>
    <interviewLabel>Create Subtask from Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Subtask from Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Subtask_Record</name>
        <label>Create Subtask Record</label>
        <locationX>625</locationX>
        <locationY>139</locationY>
        <inputAssignments>
            <field>Documentation_Completed__c</field>
            <value>
                <elementReference>parentUserStory.Documentation_Completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Known_Issue__c</field>
            <value>
                <elementReference>parentUserStory.Known_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module__c</field>
            <value>
                <elementReference>parentUserStory.Module__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_User_Story__c</field>
            <value>
                <elementReference>parentUserStory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>subtaskRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Developer__c</field>
            <value>
                <elementReference>Assignee_US.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Epic__c</field>
            <value>
                <elementReference>parentUserStory.copado__Epic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Priority__c</field>
            <value>
                <elementReference>parentUserStory.copado__Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Project__c</field>
            <value>
                <elementReference>parentUserStory.copado__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Release__c</field>
            <value>
                <elementReference>parentUserStory.copado__Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Sprint__c</field>
            <value>
                <elementReference>parentUserStory.copado__Sprint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Story_Points_Other__c</field>
            <value>
                <elementReference>Planned_Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Team__c</field>
            <value>
                <elementReference>parentUserStory.copado__Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Technical_Specifications__c</field>
            <value>
                <elementReference>Tech_Specs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Theme__c</field>
            <value>
                <elementReference>parentUserStory.copado__Theme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story_Title__c</field>
            <value>
                <elementReference>User_Story_Title</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_User_Story</name>
        <label>Get Parent User Story</label>
        <locationX>160</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subtask_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>parentUserStory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>copado__Project__c</queriedFields>
        <queriedFields>copado__Release__c</queriedFields>
        <queriedFields>Module__c</queriedFields>
        <queriedFields>copado__Theme__c</queriedFields>
        <queriedFields>copado__Sprint__c</queriedFields>
        <queriedFields>copado__Priority__c</queriedFields>
        <queriedFields>copado__Epic__c</queriedFields>
        <queriedFields>Known_Issue__c</queriedFields>
        <queriedFields>copado__Team__c</queriedFields>
        <queriedFields>Documentation_Completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subtask_Record_Type</name>
        <label>Get Subtask Record Type</label>
        <locationX>298</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Subtask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subtaskRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>subtaskRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <description>Create Subtask</description>
        <name>Create_Subtask</name>
        <label>Create Subtask</label>
        <locationX>454</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Subtask_Record</targetReference>
        </connector>
        <fields>
            <name>User_Story_Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Planned_Points</name>
            <dataType>Number</dataType>
            <fieldText>Planned Points</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tech_Specs</name>
            <fieldText>Technical Specifications</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assignee_US</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assignee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>copado__Developer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectapiname</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Assignee_Identifier</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Parent_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assignee_Identifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subtaskRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
