flows/CreateExaminationCertification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Certification_Email_with_PDF</name>
        <label>Send Certification Email with PDF</label>
        <locationX>983</locationX>
        <locationY>351</locationY>
        <actionName>AcademyCertificationPDFMailer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Certification_Survey_Email</targetReference>
        </connector>
        <inputParameters>
            <name>certIds</name>
            <value>
                <elementReference>AcademyCertification.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Certification_Survey_Email</name>
        <label>Send Certification Survey Email</label>
        <locationX>1115</locationX>
        <locationY>351</locationY>
        <actionName>redwing__Learning_Assignment__c.Academy_Certification_Survey</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>assignRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_Maintenance_Complete</name>
        <label>Send Email on Maintenance Complete</label>
        <locationX>1239</locationX>
        <locationY>729</locationY>
        <actionName>redwing__Learning_Assignment__c.Academy_Maintenance_Completed_Email2</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varAssignRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_Certification_Exists</name>
        <label>Does Certification Exists</label>
        <locationX>719</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Certification_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCertificationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Examination_for_Certification_Maintenance</targetReference>
            </connector>
            <label>Certification Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Maintenance</name>
        <label>Is it Maintenance</label>
        <locationX>594</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>Create_Certification2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Certification Plan</defaultConnectorLabel>
        <rules>
            <name>Check_if_Training_Plan_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMaintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Certification_for_the_Student</targetReference>
            </connector>
            <label>Check if is Maintenance</label>
        </rules>
    </decisions>
    <description>With maintenance examination creation and email sending for both maintenance and certification
Also creates contact and student if needed</description>
    <interviewLabel>CreateExaminationCertification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateExaminationCertification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Certification2</name>
        <label>Create Certification</label>
        <locationX>597</locationX>
        <locationY>349</locationY>
        <assignRecordIdToReference>AcademyCertification.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Examination_for_Certification</targetReference>
        </connector>
        <inputAssignments>
            <field>Certification_Program__c</field>
            <value>
                <elementReference>varLearningRecord.Academy_Certification_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Student__c</field>
            <value>
                <elementReference>studentIdFromFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <object>Academy_Certification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Examination_for_Certification</name>
        <label>Create Examination for Certification</label>
        <locationX>739</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>varExamRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Certification_with_the_Latest_Examination</targetReference>
        </connector>
        <inputAssignments>
            <field>Academy_Certification2__c</field>
            <value>
                <elementReference>AcademyCertification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Program__c</field>
            <value>
                <elementReference>varLearningRecord.Academy_Certification_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Student__c</field>
            <value>
                <elementReference>studentIdFromFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>varAssignRecord.redwing__Completed_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>varAssignRecord.redwing__Evaluation_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learning__c</field>
            <value>
                <elementReference>varLearningRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Academy_Certification_Examination__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Examination_for_Certification_Maintenance</name>
        <label>Create Examination for Certification Maintenance</label>
        <locationX>950</locationX>
        <locationY>729</locationY>
        <assignRecordIdToReference>varExamRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Certification_with_Maintenance_Examination</targetReference>
        </connector>
        <inputAssignments>
            <field>Academy_Certification2__c</field>
            <value>
                <elementReference>existingCertificationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Program__c</field>
            <value>
                <elementReference>varLearningRecord.Academy_Certification_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Student__c</field>
            <value>
                <elementReference>studentIdFromFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>varAssignRecord.redwing__Completed_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>varAssignRecord.redwing__Evaluation_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learning__c</field>
            <value>
                <elementReference>varLearningRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Academy_Certification_Examination__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignments</name>
        <label>Get Assignments</label>
        <locationX>173</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Learning_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignRecordId</elementReference>
            </value>
        </filters>
        <object>redwing__Learning_Assignment__c</object>
        <outputReference>varAssignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Evaluation_Score__c</queriedFields>
        <queriedFields>redwing__Evaluation_Result__c</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
        <queriedFields>redwing__Completed_On__c</queriedFields>
        <queriedFields>redwing__Learning__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Certification_for_the_Student</name>
        <label>Get Certification for the Student</label>
        <locationX>598</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Certification_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certification_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLearningRecord.Academy_Certification_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certification_Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>studentIdFromFlow</elementReference>
            </value>
        </filters>
        <object>Academy_Certification__c</object>
        <outputAssignments>
            <assignToReference>existingCertificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Records</name>
        <label>Get Learning Records</label>
        <locationX>291</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_assign_Contact_and_Student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>learningRecordId</elementReference>
            </value>
        </filters>
        <object>redwing__Learning__c</object>
        <outputReference>varLearningRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Academy_Certification_Program__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Certification_with_Maintenance_Examination</name>
        <label>Update Certification with Maintenance Examination</label>
        <locationX>1104</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Send_Email_on_Maintenance_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCertificationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Examination__c</field>
            <value>
                <elementReference>varExamRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Academy_Certification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Certification_with_the_Latest_Examination</name>
        <label>Update Certification with the Latest Examination</label>
        <locationX>864</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Send_Certification_Email_with_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcademyCertification.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Examination__c</field>
            <value>
                <elementReference>varExamRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Academy_Certification__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Get_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_and_assign_Contact_and_Student</name>
        <label>Check and assign Contact and Student</label>
        <locationX>423</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Is_it_Maintenance</targetReference>
        </connector>
        <flowName>Academy_Contact_Student_Control_and_Creation</flowName>
        <inputAssignments>
            <name>contactRecordId2</name>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>learningAssignmentId</name>
            <value>
                <elementReference>assignRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>redwingUserId</name>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactRecord</assignToReference>
            <name>Contact_Record</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AcademyCertificationStudent</assignToReference>
            <name>studentRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>studentIdFromFlow</assignToReference>
            <name>studentRecordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AcademyCertification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Academy_Certification__c</objectType>
    </variables>
    <variables>
        <name>AcademyCertificationStudent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Academy_Certification_Student__c</objectType>
    </variables>
    <variables>
        <name>assignRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFromSubflow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingCertificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMaintenance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>learningRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentIdFromFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAssignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varCertificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varExamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Academy_Certification_Examination__c</objectType>
    </variables>
    <variables>
        <name>varExamRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLearningRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning__c</objectType>
    </variables>
    <variables>
        <description>Internal user id of certification</description>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
