flows/Create_ClickDeploy_Premium_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_notification</name>
        <label>Error notification</label>
        <locationX>1422</locationX>
        <locationY>499</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>pfernandez@copado.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>En error occurred with ClickDeploy Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notification_if_Active_CB_Subscription_is_blank</name>
        <label>Send email notification if Active CB Subscription is blank</label>
        <locationX>992</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>pfernandez@copado.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured in ClickDeploy Existing Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Build_ClickDeploy_Premium_Opportunity</name>
        <label>Build ClickDeploy Premium Opportunity</label>
        <locationX>586</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - {!GetAccount.Name} - EssentialsPlus - Annual - 1 users</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - Premium - Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Main_Problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;ClickDeploy&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Started__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Started</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Total_Deploy_This_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Total_Deploy_This_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2340.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120N0000001XKmQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated CD Opportunity created and defaulted to the EssentialsPlus Annual product with 1 user. New trial users will update close date if Opportunity is still Open.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verify # of users, Product Type, and Subscription Type.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.chargebeeapps__CB_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Subscription_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClickDeploy_Premium_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_ClickDeploy_Premium_Opportunity_Team_Subcription_Id</name>
        <label>Build ClickDeploy Premium Opportunity Team Subcription Id</label>
        <locationX>585</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - {!GetAccount.Name} - EssentialsPlus - Annual - 1 users</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - Premium - Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Main_Problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;ClickDeploy&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Team_Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clickdeploy_TeamSubscription_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Started__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Started</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Total_Deploy_This_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Total_Deploy_This_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2340.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120N0000001XKmQAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Subscription_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verify # of users, Product Type, and Subscription Type.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.chargebeeapps__CB_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated CD Opportunity created and defaulted to the EssentialsPlus Annual product with 1 user. New trial users will update close date if Opportunity is still Open.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClickDeploy_Premium_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Opp_Contact_Role</name>
        <label>Build Opp Contact Role</label>
        <locationX>1030</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Opportunity_Contact_Role</name>
        <label>Build Opportunity Contact Role</label>
        <locationX>413</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClickDeploy_Opportunity_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Premium_Opp_from_Basic_Opp_User_Id</name>
        <label>Build Premium Opp from Basic Opp with User Id</label>
        <locationX>1301</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - {!GetAccount.Name} - EssentialsPlus - Annual - 1 users</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - Premium - Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.ClickDeploy_User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2340.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated CD Opportunity created and defaulted to the EssentialsPlus Annual product with 1 user. New trial users will update close date if Opportunity is still Open.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verify # of users, Product Type, and Subscription Type.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.chargebeeapps__CB_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Subscription_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Basic_ClickDeploy_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Premium_Opp_from_Basic_Opp_with_Team_Subscription_Id</name>
        <label>Build Premium Opp from Basic Opp with Team Subscription Id</label>
        <locationX>1301</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - {!GetAccount.Name} - EssentialsPlus - Annual - 1 users</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - Premium - Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.ClickDeploy_Team_Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clickdeploy_TeamSubscription_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2340.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated CD Opportunity created and defaulted to the EssentialsPlus Annual product with 1 user. New trial users will update close date if Opportunity is still Open.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verify # of users, Product Type, and Subscription Type.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.chargebeeapps__CB_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployBasicOpportunity.Subscription_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Basic_ClickDeploy_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_CB_Subscription_Exists</name>
        <label>Active CB Subscription Exists</label>
        <locationX>819</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Is_Team_Subcription_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CB Subscription does not exists</defaultConnectorLabel>
        <rules>
            <name>CB_Subscription_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CBSubscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_notification_if_Active_CB_Subscription_is_blank</targetReference>
            </connector>
            <label>CB Subscription exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Premium_Opportunity</name>
        <label>Create Premium Opportunity</label>
        <locationX>1017</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Build_Opp_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp already exists</defaultConnectorLabel>
        <rules>
            <name>ClickDeploy_Opportunity_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClickDeployOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Team_Subscription_Empty</targetReference>
            </connector>
            <label>ClickDeploy Opportunity Does Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Active_CB_Subscription_exists</name>
        <label>Does Active CB Subscription exists</label>
        <locationX>1033</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Enterprise_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CB subscription is blank</defaultConnectorLabel>
        <rules>
            <name>CB_subscription_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CBSubscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_notification</targetReference>
            </connector>
            <label>CB subscription is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Basic_Opportunity_Exists</name>
        <label>Does Basic Opportunity Exists?</label>
        <locationX>472</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Get_Active_CB_subcriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ClickDeployOpportunity is blank</defaultConnectorLabel>
        <rules>
            <name>ClickDeployOpportunity_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClickDeployBasicOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Essentials_Plus_CB_subcription</targetReference>
            </connector>
            <label>ClickDeployOpportunity is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Subcription_null</name>
        <label>Is Team Subcription null</label>
        <locationX>1061</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Build_Premium_Opp_from_Basic_Opp_with_Team_Subscription_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clickdeploy_TeamSubscription_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Premium_Opp_from_Basic_Opp_User_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Subscription_Empty</name>
        <label>Is Team Subscription Empty</label>
        <locationX>776</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Build_ClickDeploy_Premium_Opportunity_Team_Subcription_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clickdeploy_TeamSubscription_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_ClickDeploy_Premium_Opportunity</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>X30DaysFromToday</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(Today(), 1)</expression>
    </formulas>
    <interviewLabel>Create ClickDeploy Premium Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ClickDeploy Premium Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ClickDeploy_Opportunity_Role</name>
        <label>Create ClickDeploy Opportunity Role</label>
        <locationX>413</locationX>
        <locationY>1250</locationY>
        <inputReference>ClickDeployOppContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ClickDeploy_Premium_Opportunity</name>
        <label>Create ClickDeploy Premium Opportunity</label>
        <locationX>415</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>Build_Opportunity_Contact_Role</targetReference>
        </connector>
        <inputReference>ClickDeployOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Contact_Role</name>
        <label>Create Opp Contact Role</label>
        <locationX>1278</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Update_Opportunity_Close_Date</targetReference>
        </connector>
        <inputReference>ClickDeployOppContactRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_CB_subcriptions</name>
        <label>Get Active CB subcriptions</label>
        <locationX>836</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Active_CB_Subscription_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Subscription_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </filters>
        <filters>
            <field>chargebeeapps__Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Essentials+</stringValue>
            </value>
        </filters>
        <object>chargebeeapps__CB_Subscription__c</object>
        <outputReference>CBSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Essentials_Plus_CB_subcription</name>
        <label>Get Active Essentials Plus CB subscription</label>
        <locationX>631</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_CB_Subscription_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>chargebeeapps__Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>chargebeeapps__Subscription_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Essentials+</stringValue>
            </value>
        </filters>
        <object>chargebeeapps__CB_Subscription__c</object>
        <outputReference>CBSubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Basic_Opportunity</name>
        <label>Get Basic Opportunity</label>
        <locationX>344</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Basic_Opportunity_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClickDeploy - Basic - Monthly</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ClickDeployBasicOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Enterprise_Opportunities</name>
        <label>Get Existing Enterprise Opportunities</label>
        <locationX>1230</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Premium_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClickDeploy - Premium - Annual</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ClickDeployOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>175</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Basic_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClickDeploy_Salesforce_Org_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Basic_ClickDeploy_Opportunity</name>
        <label>Update Basic ClickDeploy Opportunity</label>
        <locationX>1500</locationX>
        <locationY>112</locationY>
        <inputReference>ClickDeployBasicOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Close_Date</name>
        <label>Update Opportunity Close Date</label>
        <locationX>1464</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClickDeployOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record Details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Org Id: {!ClickDeploy_Salesforce_Org_Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Account Id: {!GetAccount.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;User Id: {!ClickDeploy_User_Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CBSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>chargebeeapps__CB_Subscription__c</objectType>
    </variables>
    <variables>
        <name>ClickDeploy_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Expiry_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Started</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Salesforce_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Clickdeploy_TeamSubscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Total_Deploy_This_Month</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClickDeploy_User_Id</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClickDeployBasicOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Lead for ClickDeploy</description>
        <name>ClickDeployLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Leads for ClickDeploy</description>
        <name>ClickDeployLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ClickDeployOppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
