flows/CreateCustomerToolingRecords.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Left_Value</name>
        <label>Add Left Value</label>
        <locationX>395</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>ParsedMultiSelect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrabLeftValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Last_Parsed_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProviderNameListToString</name>
        <label>AssignProviderNameListToString</label>
        <locationX>93</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>ProviderNameString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_Names__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveBrackets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Last_Parsed_Value</name>
        <label>Remove Last Parsed Value</label>
        <locationX>641</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>ProviderNameListUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Values_to_be_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveBrackets</name>
        <label>RemoveBrackets</label>
        <locationX>281</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>ProviderNameListUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProviderNameListNoBrackets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Left_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Provider_Values_Exist</name>
        <label>Provider Values Exist?</label>
        <locationX>158</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Values_Are_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Names__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignProviderNameListToString</targetReference>
            </connector>
            <label>Values Are Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Values_to_be_Parsed</name>
        <label>Remaining Values to be Parsed?</label>
        <locationX>630</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>LoopEachValueToCreateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderNameListUpdated</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Left_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>GrabLeftValue</name>
        <dataType>String</dataType>
        <expression>(LEFT({!ProviderNameListUpdated},FIND(&quot;;&quot;,{!ProviderNameListUpdated})-1))</expression>
    </formulas>
    <formulas>
        <name>ProviderNameListNoBrackets</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE({!ProviderNameString},&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;)) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>RemainingValues</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!ProviderNameListUpdated},LEN({!ProviderNameListUpdated})-FIND(&quot;;&quot;,{!ProviderNameListUpdated}))))</expression>
    </formulas>
    <interviewLabel>CreateCustomerToolingRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateCustomerToolingRecords</label>
    <loops>
        <name>LoopEachValueToCreateRecords</name>
        <label>LoopEachValueToCreateRecords</label>
        <locationX>826</locationX>
        <locationY>491</locationY>
        <collectionReference>ParsedMultiSelect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCustomerToolingRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCustomerToolingRecords</name>
        <label>CreateCustomerToolingRecords</label>
        <locationX>1037</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>LoopEachValueToCreateRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Survey_Response__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>LoopEachValueToCreateRecords</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Tooling_Landscape__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>55</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Provider_Values_Exist</targetReference>
        </connector>
        <object>Implementation_Survey_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImpSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParsedMultiSelect</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderNameListUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderNameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
