flows/Create_ClickDeploy_Basic_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Build_ClickDeploy_Basic_Opportunity</name>
        <label>Build ClickDeploy Basic Opportunity</label>
        <locationX>928</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetAccount.Name} - Basic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - Essentials - Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X30DaysfromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Main_Problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Started__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Started</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Total_Deploy_This_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Total_Deploy_This_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>95.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Enterprise_Trial_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Enterprise_Trial_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120N0000001XKmQAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClickDeploy_Basic_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Opportunity_Contact_Role</name>
        <label>Build Opportunity Contact Role</label>
        <locationX>1141</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOppContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeployOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ClickDeploy_Opportunity_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Opportunity_If_Doesnt_Exist</name>
        <label>Create Opportunity If Doesnt Exist</label>
        <locationX>754</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClickDeployOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_ClickDeploy_Basic_Opportunity</targetReference>
            </connector>
            <label>Create Opportunity</label>
        </rules>
    </decisions>
    <formulas>
        <name>X30DaysfromToday</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(Today(), 1)</expression>
    </formulas>
    <interviewLabel>Create ClickDeploy Premium Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create ClickDeploy Basic Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ClickDeploy_Basic_Opportunity</name>
        <label>Create ClickDeploy Basic Opportunity</label>
        <locationX>928</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Build_Opportunity_Contact_Role</targetReference>
        </connector>
        <inputReference>ClickDeployOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ClickDeploy_Opportunity_Role</name>
        <label>Create ClickDeploy Opportunity Role</label>
        <locationX>1345</locationX>
        <locationY>580</locationY>
        <inputReference>ClickDeployOppContactRole</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Open_Basic_Opportunity</name>
        <label>Get Existing Open Basic Opportunity</label>
        <locationX>571</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_If_Doesnt_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClickDeploy - Essentials - Monthly</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ClickDeployOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>357</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Open_Basic_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClickDeploy_Salesforce_Org_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>17</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ClickDeploy_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Expiry_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Started</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Salesforce_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Total_Deploy_This_Month</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClickDeploy_User_Id</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Lead for ClickDeploy</description>
        <name>ClickDeployLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Leads for ClickDeploy</description>
        <name>ClickDeployLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ClickDeployOppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
