flows/CustomFunctionLimitNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>finish_email</name>
        <label>finish email</label>
        <locationX>174</locationX>
        <locationY>577</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi, Now Hard Credit Limit is Reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SuccessManagerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hard Credit Limit</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_soft_limit_alert</name>
        <label>Send soft limit alert</label>
        <locationX>1214</locationX>
        <locationY>551</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_FMI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi,Now Soft Credit Limit is Reached </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SuccessManagerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Soft Credit Limit</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_credit_use_with_soft_limit</name>
        <label>Check credit use with soft limit</label>
        <locationX>745</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Send_Alert_For_Hard_Limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soft_Limit_matching_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sfFma__Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_FMI.sfFma__Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_FMI.sfFma__FullName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>copado__CustomFunctionSoftCreditLimit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_soft_limit_alert</targetReference>
            </connector>
            <label>Soft Limit matching criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Alert_For_Hard_Limit</name>
        <label>Send Alert For Hard Limit</label>
        <locationX>1038</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Iterate_FMI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alert_for_hard_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sfFma__Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_FMI.sfFma__Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_FMI.sfFma__FullName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>copado__CustomFunctionHardCreditLimit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_soft_limit_alert</targetReference>
            </connector>
            <label>Alert for hard limit</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Salesforce_CSM__r.Email}</expression>
    </formulas>
    <formulas>
        <name>HardLimitEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email}</expression>
    </formulas>
    <formulas>
        <name>SuccessManagerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email}</expression>
    </formulas>
    <interviewLabel>U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Function Limit Notification</label>
    <loops>
        <name>Iterate_FMI</name>
        <label>Iterate FMI</label>
        <locationX>400</locationX>
        <locationY>616</locationY>
        <collectionReference>Get_Feature_Parameter_Integer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_credit_use_with_soft_limit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>finish_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Feature_Parameter_Integer</name>
        <label>Get Feature Parameter Integer</label>
        <locationX>546</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_FMI</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>sfFma__License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sfFma__License__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionSoftCreditLimit</stringValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionHardCreditLimit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sfFma__FeatureParameterInteger__c</object>
        <sortField>sfFma__Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Feature_Parameter_Integer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sfFma__Value__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionCreditUsage</stringValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sfFma__FeatureParameterInteger__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
