flows/Email_Message_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>CaseCommentCreator</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Create Case Comment</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CaseCommentCreator</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>emailInList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>emailInList</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_Redlining__Managed_Clause__c;Academy_Certification_Delivery__c;Academy_Certification_Examination__c;Academy_Certification_Program__c;Academy_Certification_Student__c;Academy_Certification__c;Account;Agreement__c;Asset;AssetRelationship;CCMI__Milestone_Assignment__c;CCMI__Milestone_Project__c;CCMI__Milestone_Task__c;CCMI__Timesheet__c;CHANNEL_ORDERS__Service_Order_Detail__c;CHANNEL_ORDERS__Service_Order__c;Campaign;Case;ContactRequest;Contract;ContractLineItem;Demo__c;Employee_Condition__c;Employee__c;Entitlement;FSTR__Business_Process__c;FSTR__Loop__c;FSTR__PCE_Virtual_Step__c;FSTR__Process_Group__c;FSTR__Test_PCE__c;Invoice__c;Job_Candidate__c;Known_Issue__c;ListEmail;My_Copado_Task__c;Opportunity;Order;Org_Chart__c;Paid_Time_Off_Request__c;Payable_Invoice__c;Product2;Prospect_Company__c;Quote;Release_Communication__c;Review__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;Sales_Coach_Role__c;Sales_Coach_Section_Item__c;Sales_Coach_Section__c;Sales_Coach_Stage__c;Salesforce_Org__c;Salesforce_User__c;ServiceContract;Solution;amc__Action__c;amc__Billing_Event_Item__c;amc__Billing_Event__c;amc__Billing_Payment__c;amc__Checklist_Item__c;amc__Expense__c;amc__Holiday__c;amc__Milestone__c;amc__Persona__c;amc__Program__c;amc__Project__c;amc__Requirement__c;amc__Risk__c;amc__Role__c;amc__Skill__c;amc__Tax_Rate__c;amc__Team__c;amc__Time_Log__c;amc__User_Story__c;bre__BR_Event__c;copado1p__Platform_Job_Execution__c;copado1p__Platform_Job__c;copado__Artifact_Version__c;copado__Artifact__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment__c;copado__Destination_Org__c;copado__Epic__c;copado__Git_Backup__c;copado__OrgDiff__c;copado__Project__c;copado__Release__c;copado__Sprint__c;copado__Step__c;copado__Team__c;copado__User_Story_Task__c;copado__User_Story__c;redwing__Achievement_Category__c;redwing__Achievement__c;redwing__Answer_Sequence_Item__c;redwing__Answer_Sequence__c;redwing__CheckIn__c;redwing__Instructor__c;redwing__LMS_Permission_Rule_PermSet__c;redwing__LMS_Permission_Rule__c;redwing__LMS_Plugin__c;redwing__Learning_Assignment__c;redwing__Learning_Category_Account__c;redwing__Learning_Category_Profile__c;redwing__Learning_Category__c;redwing__Learning_Search_Category_Item__c;redwing__Learning_Search_Category__c;redwing__Learning_Version__c;redwing__Learning__c;redwing__Question_Bank_Question__c;redwing__Question_Bank__c;redwing__Question_Line__c;redwing__Question_Topic__c;redwing__Question__c;redwing__Quiz__c;redwing__Response__c;redwing__RichText_Content__c;redwing__RichText__c;redwing__Shared_Learning_Assignment__c;redwing__Task_Approver__c;redwing__Task__c;redwing__Training_Activity_Account__c;redwing__Training_Activity_Category__c;redwing__Training_Activity_Search_Category_Item__c;redwing__Training_Activity__c;redwing__Training_Plan_Access_Request__c;redwing__Training_Plan_Account__c;redwing__Training_Plan_Achievement__c;redwing__Training_Plan_Assignment__c;redwing__Training_Plan_Batch_Operation__c;redwing__Training_Plan_Category__c;redwing__Training_Plan_Feedback__c;redwing__Training_Plan_Instructor__c;redwing__Training_Plan_Search_Category_Item__c;redwing__Training_Plan_Section_Assignment__c;redwing__Training_Plan_Section_Item__c;redwing__Training_Plan_Section__c;redwing__Training_Plan__c;redwing__Training_Resource__c;redwing__Training_Track_Account__c;redwing__Training_Track_Assignment__c;redwing__Training_Track_Category__c;redwing__Training_Track_Level_Item__c;redwing__Training_Track_Level__c;redwing__Training_Track_Search_Category_Item__c;redwing__Training_Track__c;redwing__User_Certification__c;rh2__PS_Export_Rollups__c;rh2__PS_Rollup_Dummy__c;s2cor__Sage_ACC_Journal__c;s2cor__Sage_ACC_Ledger_Account__c;s2cor__Sage_ACC_Ledger_Entry__c;s2cor__Sage_ACC_Tag__c;s2cor__Sage_INV_Trade_Document__c;s2cor__Sage_WFM_Job_Task__c;s2cor__Sage_WFM_Job__c;scormanywhere__Course__c;sfLma__License__c;sfLma__Package_Version__c;sfLma__Package__c;zigpr__ActionModel__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Incoming on Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_Redlining__Managed_Clause__c;Academy_Certification_Delivery__c;Academy_Certification_Examination__c;Academy_Certification_Program__c;Academy_Certification_Student__c;Academy_Certification__c;Account;Agreement__c;Asset;AssetRelationship;CCMI__Milestone_Assignment__c;CCMI__Milestone_Project__c;CCMI__Milestone_Task__c;CCMI__Timesheet__c;CHANNEL_ORDERS__Service_Order_Detail__c;CHANNEL_ORDERS__Service_Order__c;Campaign;Case;ContactRequest;Contract;ContractLineItem;Demo__c;Employee_Condition__c;Employee__c;Entitlement;FSTR__Business_Process__c;FSTR__Loop__c;FSTR__PCE_Virtual_Step__c;FSTR__Process_Group__c;FSTR__Test_PCE__c;Invoice__c;Job_Candidate__c;Known_Issue__c;ListEmail;My_Copado_Task__c;Opportunity;Order;Org_Chart__c;Paid_Time_Off_Request__c;Payable_Invoice__c;Product2;Prospect_Company__c;Quote;Release_Communication__c;Review__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;Sales_Coach_Role__c;Sales_Coach_Section_Item__c;Sales_Coach_Section__c;Sales_Coach_Stage__c;Salesforce_Org__c;Salesforce_User__c;ServiceContract;Solution;amc__Action__c;amc__Billing_Event_Item__c;amc__Billing_Event__c;amc__Billing_Payment__c;amc__Checklist_Item__c;amc__Expense__c;amc__Holiday__c;amc__Milestone__c;amc__Persona__c;amc__Program__c;amc__Project__c;amc__Requirement__c;amc__Risk__c;amc__Role__c;amc__Skill__c;amc__Tax_Rate__c;amc__Team__c;amc__Time_Log__c;amc__User_Story__c;bre__BR_Event__c;copado1p__Platform_Job_Execution__c;copado1p__Platform_Job__c;copado__Artifact_Version__c;copado__Artifact__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment__c;copado__Destination_Org__c;copado__Epic__c;copado__Git_Backup__c;copado__OrgDiff__c;copado__Project__c;copado__Release__c;copado__Sprint__c;copado__Step__c;copado__Team__c;copado__User_Story_Task__c;copado__User_Story__c;redwing__Achievement_Category__c;redwing__Achievement__c;redwing__Answer_Sequence_Item__c;redwing__Answer_Sequence__c;redwing__CheckIn__c;redwing__Instructor__c;redwing__LMS_Permission_Rule_PermSet__c;redwing__LMS_Permission_Rule__c;redwing__LMS_Plugin__c;redwing__Learning_Assignment__c;redwing__Learning_Category_Account__c;redwing__Learning_Category_Profile__c;redwing__Learning_Category__c;redwing__Learning_Search_Category_Item__c;redwing__Learning_Search_Category__c;redwing__Learning_Version__c;redwing__Learning__c;redwing__Question_Bank_Question__c;redwing__Question_Bank__c;redwing__Question_Line__c;redwing__Question_Topic__c;redwing__Question__c;redwing__Quiz__c;redwing__Response__c;redwing__RichText_Content__c;redwing__RichText__c;redwing__Shared_Learning_Assignment__c;redwing__Task_Approver__c;redwing__Task__c;redwing__Training_Activity_Account__c;redwing__Training_Activity_Category__c;redwing__Training_Activity_Search_Category_Item__c;redwing__Training_Activity__c;redwing__Training_Plan_Access_Request__c;redwing__Training_Plan_Account__c;redwing__Training_Plan_Achievement__c;redwing__Training_Plan_Assignment__c;redwing__Training_Plan_Batch_Operation__c;redwing__Training_Plan_Category__c;redwing__Training_Plan_Feedback__c;redwing__Training_Plan_Instructor__c;redwing__Training_Plan_Search_Category_Item__c;redwing__Training_Plan_Section_Assignment__c;redwing__Training_Plan_Section_Item__c;redwing__Training_Plan_Section__c;redwing__Training_Plan__c;redwing__Training_Resource__c;redwing__Training_Track_Account__c;redwing__Training_Track_Assignment__c;redwing__Training_Track_Category__c;redwing__Training_Track_Level_Item__c;redwing__Training_Track_Level__c;redwing__Training_Track_Search_Category_Item__c;redwing__Training_Track__c;redwing__User_Certification__c;rh2__PS_Export_Rollups__c;rh2__PS_Rollup_Dummy__c;s2cor__Sage_ACC_Journal__c;s2cor__Sage_ACC_Ledger_Account__c;s2cor__Sage_ACC_Ledger_Entry__c;s2cor__Sage_ACC_Tag__c;s2cor__Sage_INV_Trade_Document__c;s2cor__Sage_WFM_Job_Task__c;s2cor__Sage_WFM_Job__c;scormanywhere__Course__c;sfLma__License__c;sfLma__Package_Version__c;sfLma__Package__c;zigpr__ActionModel__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>formula_4_myRule_3_7610169019</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>copa.do</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>copado.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Incoming on Agreement - Copado</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_Redlining__Managed_Clause__c;Academy_Certification_Delivery__c;Academy_Certification_Examination__c;Academy_Certification_Program__c;Academy_Certification_Student__c;Academy_Certification__c;Account;Agreement__c;Asset;AssetRelationship;CCMI__Milestone_Assignment__c;CCMI__Milestone_Project__c;CCMI__Milestone_Task__c;CCMI__Timesheet__c;CHANNEL_ORDERS__Service_Order_Detail__c;CHANNEL_ORDERS__Service_Order__c;Campaign;Case;ContactRequest;Contract;ContractLineItem;Demo__c;Employee_Condition__c;Employee__c;Entitlement;FSTR__Business_Process__c;FSTR__Loop__c;FSTR__PCE_Virtual_Step__c;FSTR__Process_Group__c;FSTR__Test_PCE__c;Invoice__c;Job_Candidate__c;Known_Issue__c;ListEmail;My_Copado_Task__c;Opportunity;Order;Org_Chart__c;Paid_Time_Off_Request__c;Payable_Invoice__c;Product2;Prospect_Company__c;Quote;Release_Communication__c;Review__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;Sales_Coach_Role__c;Sales_Coach_Section_Item__c;Sales_Coach_Section__c;Sales_Coach_Stage__c;Salesforce_Org__c;Salesforce_User__c;ServiceContract;Solution;amc__Action__c;amc__Billing_Event_Item__c;amc__Billing_Event__c;amc__Billing_Payment__c;amc__Checklist_Item__c;amc__Expense__c;amc__Holiday__c;amc__Milestone__c;amc__Persona__c;amc__Program__c;amc__Project__c;amc__Requirement__c;amc__Risk__c;amc__Role__c;amc__Skill__c;amc__Tax_Rate__c;amc__Team__c;amc__Time_Log__c;amc__User_Story__c;bre__BR_Event__c;copado1p__Platform_Job_Execution__c;copado1p__Platform_Job__c;copado__Artifact_Version__c;copado__Artifact__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment__c;copado__Destination_Org__c;copado__Epic__c;copado__Git_Backup__c;copado__OrgDiff__c;copado__Project__c;copado__Release__c;copado__Sprint__c;copado__Step__c;copado__Team__c;copado__User_Story_Task__c;copado__User_Story__c;redwing__Achievement_Category__c;redwing__Achievement__c;redwing__Answer_Sequence_Item__c;redwing__Answer_Sequence__c;redwing__CheckIn__c;redwing__Instructor__c;redwing__LMS_Permission_Rule_PermSet__c;redwing__LMS_Permission_Rule__c;redwing__LMS_Plugin__c;redwing__Learning_Assignment__c;redwing__Learning_Category_Account__c;redwing__Learning_Category_Profile__c;redwing__Learning_Category__c;redwing__Learning_Search_Category_Item__c;redwing__Learning_Search_Category__c;redwing__Learning_Version__c;redwing__Learning__c;redwing__Question_Bank_Question__c;redwing__Question_Bank__c;redwing__Question_Line__c;redwing__Question_Topic__c;redwing__Question__c;redwing__Quiz__c;redwing__Response__c;redwing__RichText_Content__c;redwing__RichText__c;redwing__Shared_Learning_Assignment__c;redwing__Task_Approver__c;redwing__Task__c;redwing__Training_Activity_Account__c;redwing__Training_Activity_Category__c;redwing__Training_Activity_Search_Category_Item__c;redwing__Training_Activity__c;redwing__Training_Plan_Access_Request__c;redwing__Training_Plan_Account__c;redwing__Training_Plan_Achievement__c;redwing__Training_Plan_Assignment__c;redwing__Training_Plan_Batch_Operation__c;redwing__Training_Plan_Category__c;redwing__Training_Plan_Feedback__c;redwing__Training_Plan_Instructor__c;redwing__Training_Plan_Search_Category_Item__c;redwing__Training_Plan_Section_Assignment__c;redwing__Training_Plan_Section_Item__c;redwing__Training_Plan_Section__c;redwing__Training_Plan__c;redwing__Training_Resource__c;redwing__Training_Track_Account__c;redwing__Training_Track_Assignment__c;redwing__Training_Track_Category__c;redwing__Training_Track_Level_Item__c;redwing__Training_Track_Level__c;redwing__Training_Track_Search_Category_Item__c;redwing__Training_Track__c;redwing__User_Certification__c;rh2__PS_Export_Rollups__c;rh2__PS_Rollup_Dummy__c;s2cor__Sage_ACC_Journal__c;s2cor__Sage_ACC_Ledger_Account__c;s2cor__Sage_ACC_Ledger_Entry__c;s2cor__Sage_ACC_Tag__c;s2cor__Sage_INV_Trade_Document__c;s2cor__Sage_WFM_Job_Task__c;s2cor__Sage_WFM_Job__c;scormanywhere__Course__c;sfLma__License__c;sfLma__Package_Version__c;sfLma__Package__c;zigpr__ActionModel__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>formula_7_myRule_6_2576147684</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Incoming on Agreement - Customer</label>
        </rules>
    </decisions>
    <description>This will be the main Process Builder &quot;trigger&quot; on the Email Message object.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.Reference_Id__c.Agreement_3_Digit_Object_Reference__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_7610169019</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Reference_Id__c.Agreement_3_Digit_Object_Reference__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.Reference_Id__c.Agreement_3_Digit_Object_Reference__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_2576147684</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Reference_Id__c.Agreement_3_Digit_Object_Reference__c}</expression>
    </formulas>
    <interviewLabel>Email_Message_Trigger-3_InterviewLabel</interviewLabel>
    <label>Email Message &quot;Trigger&quot;</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Agreement__c)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Status to Customer Review</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Customer Review</stringValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Related To ID (Agreement__c)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Status to Copado Review</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Copado Review</stringValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
