flows/Generic_Certification_Reset_Maximum_Attempts_New2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Do_Nothing_to_True</name>
        <label>Set Do Nothing to True</label>
        <locationX>52</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>DoNothing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Learning_Assignment_Null</name>
        <label>Is Learning Assignment Null?</label>
        <locationX>227</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Set_Do_Nothing_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loop_through_Learning_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learning_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopLearningAssignments</targetReference>
            </connector>
            <label>Loop through Learning Plans</label>
        </rules>
    </decisions>
    <interviewLabel>Generic Certification - Reset Maximum Attempts-New2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generic Certification - Reset Maximum Attempts-New2</label>
    <loops>
        <name>Loop_Learning_Trac</name>
        <label>Loop Learning Trac</label>
        <locationX>1049</locationX>
        <locationY>517</locationY>
        <assignNextValueToReference>LearningTracRecord</assignNextValueToReference>
        <collectionReference>Get_Learning_Trac</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Learning_Track_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Learning_Trac_Assignment</name>
        <label>Loop Learning Trac Assignment</label>
        <locationX>872</locationX>
        <locationY>358</locationY>
        <assignNextValueToReference>LearningTracAssignmentRecord</assignNextValueToReference>
        <collectionReference>Get_Learning_Track_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Learning_Trac_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Learning_Trac_Level</name>
        <label>Loop Learning Trac Level</label>
        <locationX>1037</locationX>
        <locationY>126</locationY>
        <assignNextValueToReference>LearningTracLevelRecord</assignNextValueToReference>
        <collectionReference>Get_Learning_Trac_Level</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Learning_Trac</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Learning_Trac_Level_Items</name>
        <label>Loop Learning Trac Level Items</label>
        <locationX>700</locationX>
        <locationY>128</locationY>
        <assignNextValueToReference>LearningTracLevelItemRecord</assignNextValueToReference>
        <collectionReference>Get_Learning_Trac_Level_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Learning_Trac_Level</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop Through all the associated Learning Trac Assignment records</description>
        <name>LoopLearningAssignments</name>
        <label>LoopLearningAssignments</label>
        <locationX>360</locationX>
        <locationY>116</locationY>
        <assignNextValueToReference>LearningAssignmentRecord</assignNextValueToReference>
        <collectionReference>Get_Learning_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Learning_Plan_Assignment_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Learning_Plan_Assignment_Record</name>
        <label>Delete Learning Plan Assignment Record</label>
        <locationX>597</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Get_Learning_Trac_Level_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>redwing__Training_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningAssignmentRecord.redwing__Training_Plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningAssignmentRecord.redwing__User__c</elementReference>
            </value>
        </filters>
        <object>redwing__Training_Plan_Assignment__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Learning_Trac_Assignment</name>
        <label>Delete Learning Trac Assignment</label>
        <locationX>489</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>LoopLearningAssignments</targetReference>
        </connector>
        <inputReference>LearningTracAssignmentRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get all the records from Learning Assignment object where Learning Plan is Developer Certification (Hardcoded Salesforce ID) and  Evaluation Result	
 is Failed and Evaluation Times Taken is more than 1.</description>
        <name>Get_Learning_Assignments</name>
        <label>Get Learning Assignments</label>
        <locationX>171</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Learning_Assignment_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Certification_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2020-04-29T23:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>redwing__Evaluation_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>redwing__Evaluation_Times_Taken__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>redwing__Learning_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
        <queriedFields>redwing__Training_Plan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Trac</name>
        <label>Get Learning Trac</label>
        <locationX>1034</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Learning_Trac</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningTracLevelRecord.redwing__Training_Track__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>redwing__Training_Track__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Trac_Level</name>
        <label>Get Learning Trac Level</label>
        <locationX>876</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Learning_Trac_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningTracLevelItemRecord.redwing__Training_Track_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Training_Track__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>redwing__Training_Track_Level__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Training_Track__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Trac_Level_Items</name>
        <label>Get Learning Trac Level Items</label>
        <locationX>611</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Learning_Trac_Level_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>redwing__Training_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningAssignmentRecord.redwing__Training_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>redwing__Training_Track_Level_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Training_Track_Level__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Track_Assignment</name>
        <label>Get Learning Track Assignment</label>
        <locationX>874</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Learning_Trac_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>redwing__Training_Track__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningTracRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LearningAssignmentRecord.redwing__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>redwing__Training_Track_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>69</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Get_Learning_Assignments</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>displayLearning_Plan_AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LearningAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Learning_Assignment__c</objectType>
    </variables>
    <variables>
        <name>LearningPlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Plan__c</objectType>
    </variables>
    <variables>
        <name>LearningTracAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Track_Assignment__c</objectType>
    </variables>
    <variables>
        <name>LearningTracLevelItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Track_Level_Item__c</objectType>
    </variables>
    <variables>
        <name>LearningTracLevelRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Track_Level__c</objectType>
    </variables>
    <variables>
        <name>LearningTracRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Training_Track__c</objectType>
    </variables>
</Flow>
