flows/Mentorship_Request_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AdministratorExp</name>
        <choiceText>Salesforce Administrator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Administrator</stringValue>
        </value>
    </choices>
    <choices>
        <name>ArchitectExp</name>
        <choiceText>Salesforce Architect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Architect</stringValue>
        </value>
    </choices>
    <choices>
        <name>BAExp</name>
        <choiceText>Salesforce Business Analyst</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Business Analyst</stringValue>
        </value>
    </choices>
    <choices>
        <name>Copado_Consultant</name>
        <choiceText>Copado Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copado Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeveloperExp</name>
        <choiceText>Salesforce Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Five</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>FundamentalsI</name>
        <choiceText>Copado Fundamentals I</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copado Fundamentals I</stringValue>
        </value>
    </choices>
    <choices>
        <name>FundamentalsII</name>
        <choiceText>Copado Fundamentals II</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copado Fundamentals II</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mentee</name>
        <choiceText>Find a Mentor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mentee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mentor</name>
        <choiceText>Become a Mentor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mentor</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>OverTenExp</name>
        <choiceText>Over 10 Years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Over 10 Years</stringValue>
        </value>
    </choices>
    <choices>
        <name>SixtoTenExp</name>
        <choiceText>6-10 Years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6-10 Years</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>ThreetoFiveExp</name>
        <choiceText>3-5 Years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-5 Years</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZerotoTwoExp</name>
        <choiceText>0-2 Years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-2 Years</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Mentor_or_Mentee</name>
        <label>Mentor or Mentee?</label>
        <locationX>536</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Mentee_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_role_is_Mentor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mentor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>record_types</targetReference>
            </connector>
            <label>If role is Mentor</label>
        </rules>
    </decisions>
    <formulas>
        <name>Current_user_form</name>
        <dataType>String</dataType>
        <expression>{!$user.Id}</expression>
    </formulas>
    <interviewLabel>Mentorship Request Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mentorship Request Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Mentee_Mentorship_Request</name>
        <label>Mentee Mentorship Request</label>
        <locationX>668</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Thanks_for_your_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Type__c</field>
            <value>
                <elementReference>Experience_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey__c</field>
            <value>
                <elementReference>What_certification_would_be_your_goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile__c</field>
            <value>
                <elementReference>LinkedIn_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MenteeRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>MyRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Experience__c</field>
            <value>
                <elementReference>Salesforce_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used_Copado_Before__c</field>
            <value>
                <elementReference>Have_you_used_copado_before</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_would_you_like_to_get_a_Mentor__c</field>
            <value>
                <elementReference>Why_would_you_like_to_get_a_Mentor</elementReference>
            </value>
        </inputAssignments>
        <object>Mentorship_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Mentorship_Request</name>
        <label>Mentor Mentorship Request</label>
        <locationX>404</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Thanks_for_your_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Type__c</field>
            <value>
                <elementReference>Experience_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journey__c</field>
            <value>
                <elementReference>What_certifications_did_you_complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile__c</field>
            <value>
                <elementReference>LinkedIn_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mentor_Reason__c</field>
            <value>
                <elementReference>Why_would_you_like_to_be_a_Mentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_mentees__c</field>
            <value>
                <elementReference>What_s_the_number_of_Mentees_are_you_willing_to_mentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MentorRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>MyRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Experience__c</field>
            <value>
                <elementReference>Salesforce_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used_Copado_Before__c</field>
            <value>
                <elementReference>Have_you_used_copado_before</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mentorship_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>536</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mentor_or_Mentee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_user_form</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Mentee_Record_Type</name>
        <label>Get Mentee Record Type</label>
        <locationX>668</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mentee_Mentorship_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mentee Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MenteeRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>record_types</name>
        <label>Get Mentor Record type</label>
        <locationX>404</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mentorship_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mentor Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MentorRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Role</name>
        <label>Role</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <fields>
            <name>FlowAdminImg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CopadoMentorship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MyRole</name>
            <choiceReferences>Mentor</choiceReferences>
            <choiceReferences>Mentee</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Mentor</defaultSelectedChoiceReference>
            <fieldText>I WOULD LIKE TO...</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_certification_would_be_your_goal</name>
            <choiceReferences>FundamentalsI</choiceReferences>
            <choiceReferences>FundamentalsII</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What certification would be your goal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_certifications_did_you_complete</name>
            <choiceReferences>FundamentalsII</choiceReferences>
            <choiceReferences>Copado_Consultant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What certifications did you complete?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salesforce_Experience</name>
            <choiceReferences>ZerotoTwoExp</choiceReferences>
            <choiceReferences>ThreetoFiveExp</choiceReferences>
            <choiceReferences>SixtoTenExp</choiceReferences>
            <choiceReferences>OverTenExp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salesforce Experience (# of Years)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Experience_Type</name>
            <choiceReferences>AdministratorExp</choiceReferences>
            <choiceReferences>DeveloperExp</choiceReferences>
            <choiceReferences>BAExp</choiceReferences>
            <choiceReferences>ArchitectExp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Experience Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_used_copado_before</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Have you used copado before?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the email address to which you will be contacted. We suggest to use a personal email.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Use a valid email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LinkedIn_Profile</name>
            <dataType>String</dataType>
            <fieldText>LinkedIn Profile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_s_the_number_of_Mentees_are_you_willing_to_mentor</name>
            <choiceReferences>One</choiceReferences>
            <choiceReferences>Two</choiceReferences>
            <choiceReferences>Three</choiceReferences>
            <choiceReferences>Four</choiceReferences>
            <choiceReferences>Five</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many mentees are you willing to mentor?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_would_you_like_to_be_a_Mentor</name>
            <fieldText>Why would you like to be a Mentor?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentor</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_would_you_like_to_get_a_Mentor</name>
            <fieldText>Why would you like to get a Mentor?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MyRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mentee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thanks_for_your_Request</name>
        <label>Thanks for your Request</label>
        <locationX>536</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thanks for your Interest! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We&apos;re reviewing your application and we will update you on the status of your request within 30 days.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Academy Team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MenteeRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MentorRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MentorshipRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mentorship_Request__c</objectType>
    </variables>
    <variables>
        <name>varContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
