flows/Notify_the_Technical_Write_Team_when_a_User_Story_needs_documentation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>postTarget</name>
            <value>
                <stringValue>Tech Writing Team</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;{![copado__User_Story__c].Name} \&quot;{![copado__User_Story__c].copado__User_Story_Title__c}\&quot;\nrequires documentation&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notification to the Technical Team</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!myVariable_current.Name} &quot;{!myVariable_current.copado__User_Story_Title__c}&quot;
requires documentation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>GROUP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>{!Environment.Tech Writing Team}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Documentation Status Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This Process create a a post in the Chatter Group &quot;Tech Team&quot; when a US requires documentation</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
[copado__User_Story__c].RecordType.Name = &apos;User Story&apos; ||
[copado__User_Story__c].RecordType.Name = &apos;Bug&apos;
) 
&amp;&amp;
TEXT([copado__User_Story__c].Documentation_Completed__c) = &apos;Required&apos; 
&amp;&amp;
(
ISNEW() 
||
ISCHANGED([copado__User_Story__c].Documentation_Completed__c) 
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(
{!myVariable_current.RecordType.Name} = &apos;User Story&apos; ||
{!myVariable_current.RecordType.Name} = &apos;Bug&apos;
) 
&amp;&amp;
TEXT({!myVariable_current.Documentation_Completed__c}) = &apos;Required&apos; 
&amp;&amp;
(
ISNEW() 
||
ISCHANGED({!myVariable_current.Documentation_Completed__c}) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
[copado__User_Story__c].RecordType.Name = &apos;User Story&apos; ||
[copado__User_Story__c].RecordType.Name = &apos;Bug&apos;
) 
&amp;&amp;
TEXT([copado__User_Story__c].Documentation_Completed__c) = &apos;Required&apos; 
&amp;&amp;
(
ISNEW() 
||
ISCHANGED([copado__User_Story__c].Documentation_Completed__c) 
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
{!myVariable_old.RecordType.Name} = &apos;User Story&apos; ||
{!myVariable_old.RecordType.Name} = &apos;Bug&apos;
) 
&amp;&amp;
TEXT({!myVariable_old.Documentation_Completed__c}) = &apos;Required&apos; 
&amp;&amp;
(
ISNEW() 
||
ISCHANGED({!myVariable_old.Documentation_Completed__c}) 
)</expression>
    </formulas>
    <interviewLabel>Notify_the_Technical_Write_Team_when_a_User_Story_needs_documentation-5_InterviewLabel</interviewLabel>
    <label>Notify the Technical Write Team when a User Story needs documentation</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>copado__User_Story__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
