flows/On_APO_User_Story_Created_or_Updated2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Test_Script_Owner</name>
        <label>Notify Test Script Owner</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!$Record.Name} is Ready for Testing in Dev environment.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.copado__Test_Script_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Test_Script_Owner_on_Assignment</name>
        <label>Notify Test Script Owner on Assignment</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TestScriptOwnerAssignee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.copado__Test_Script_Owner__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have been assigned as Test Script Owner</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_Test_Script_Owner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Test_Script_Owner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Test_Script_Owner__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Test_Script_Owner_on_Assignment</targetReference>
            </connector>
            <label>Notify Test Script Owner</label>
        </rules>
        <rules>
            <name>User_Story_is_Ready_for_Tech_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Tech. Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_to_60</targetReference>
            </connector>
            <label>User Story is Ready for Tech Review</label>
        </rules>
        <rules>
            <name>User_Story_is_Ready_for_Dev_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for QA DEV Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Test_Script_Owner</targetReference>
            </connector>
            <label>User Story is Ready for Dev Testing</label>
        </rules>
        <rules>
            <name>User_Story_is_Ready_for_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_to_80</targetReference>
            </connector>
            <label>User Story is Ready for Testing</label>
        </rules>
        <rules>
            <name>Is_APO_US_Deployed_to_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO_Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Environment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_User_Story_as_Released_and_Update_Date_Released</targetReference>
            </connector>
            <label>Is APO US Deployed to Production</label>
        </rules>
        <rules>
            <name>User_Story_is_Ready_for_Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_to_100</targetReference>
            </connector>
            <label>User Story is Ready for Release</label>
        </rules>
    </decisions>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500}))</expression>
    </formulas>
    <interviewLabel>On APO User Story Created or Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On APO User Story Created or Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Exclude_from_CBM</name>
        <label>Exclude User Story from CBM</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>copado__Exclude_From_CBM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Stop_Indexing_Metadata__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_User_Story_as_Released_and_Update_Date_Released</name>
        <label>Mark User Story as Released and Update Date Released</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Date_Released__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Progress_to_100</name>
        <label>Update Progress to 100%</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>copado__Progress__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Promote_Change__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Progress_to_60</name>
        <label>Update Progress to 60%</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>copado__Progress__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Progress_to_80</name>
        <label>Update Progress to 80%</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>copado__Progress__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120N000000eOkMQAU</stringValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Exclude_User_Story_from_CBM</name>
            <connector>
                <targetReference>Exclude_from_CBM</targetReference>
            </connector>
            <label>Exclude User Story from CBM</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Date_Released__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TestScriptOwnerAssignee</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been assigned as Test Script Owner for {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Status of the User Story: {!$Record.copado__Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to user story: {!URL}{!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
