flows/Order_ACV_on_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_modified_Contracts</name>
        <label>Add to modified Contracts</label>
        <locationX>555</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>modifiedContracts.Order_ACV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Quote_ACV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedContracts.Order_Current_ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Current_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedContracts.Order_1st_yr_ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.X1st_yr_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedContracts.Non_Standard_ACV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Non_Standard_ACV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Order</targetReference>
        </connector>
    </assignments>
    <description>This flow updates the Order ACV on Contract when an Order gets released. This flow is called from process builder &apos;Update Order Contract ACV and TCV from Opportunity&apos;</description>
    <interviewLabel>Order ACV on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order ACV on Contract</label>
    <loops>
        <name>loop_on_Order</name>
        <label>loop on Order</label>
        <locationX>297</locationX>
        <locationY>221</locationY>
        <collectionReference>getOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_modified_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contract_ACV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>150</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>kuga_sub__ContractNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>kugo2p__SalesOrder__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_ACV__c</queriedFields>
        <queriedFields>Current_ARR__c</queriedFields>
        <queriedFields>X1st_yr_ARR__c</queriedFields>
        <queriedFields>Non_Standard_ACV__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Contract_ACV</name>
        <label>update Contract ACV</label>
        <locationX>551</locationX>
        <locationY>70</locationY>
        <inputReference>modifiedContracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>25</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstYrARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>modifiedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>nonStandardACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>orderACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>orderCurrentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
