flows/Set_Opportunity_Info.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FlowErrorMail</name>
        <label>FlowErrorMail</label>
        <locationX>299</locationX>
        <locationY>355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>kheidt@copa.do</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetAmendedContract</name>
        <label>SetAmendedContract</label>
        <locationX>101</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.SBQQ__AmendedContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentlyActiveContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpsertOppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRenewalInfo</name>
        <label>SetRenewalInfo</label>
        <locationX>627</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start renewal process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.Next_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.SBQQ__RenewedContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentlyActiveContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScopeOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpsertOppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasRenewalInName</name>
        <label>hasRenewalInName</label>
        <locationX>470</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>FlowErrorMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>probablyRenewal</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ScopeOpportunity.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScopeOpportunity.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScopeOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRenewalInfo</targetReference>
            </connector>
            <label>probablyRenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>typeIs</name>
        <label>typeIs</label>
        <locationX>627</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>hasRenewalInName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>aRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScopeOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRenewalInfo</targetReference>
            </connector>
            <label>aRenewal</label>
        </rules>
        <rules>
            <name>anAddOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveContract.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentAccount</targetReference>
            </connector>
            <label>anAddOn</label>
        </rules>
    </decisions>
    <description>Sets several fields on the opportunity</description>
    <formulas>
        <name>DebugStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT( {!CurrentlyActiveContract.EndDate})</expression>
    </formulas>
    <formulas>
        <name>RenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!CurrentlyActiveContract.EndDate}-14</expression>
    </formulas>
    <formulas>
        <description>Get the start of the renewal process 90 days before the contract end date</description>
        <name>RenewalStartDate</name>
        <dataType>Date</dataType>
        <expression>{!CurrentlyActiveContract.EndDate}-90</expression>
    </formulas>
    <interviewLabel>Set Opportunity Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Opportunity Info</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActiveContract</name>
        <label>GetActiveContract</label>
        <locationX>338</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>typeIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScopeOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>CurrentlyActiveContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Renewal_Process_Start_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetParentAccount</name>
        <label>GetParentAccount</label>
        <locationX>284</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAmendedContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScopeOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ParentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpsertOppty</name>
        <label>UpsertOppty</label>
        <locationX>157</locationX>
        <locationY>466</locationY>
        <inputReference>ScopeOpportunity</inputReference>
    </recordUpdates>
    <startElementReference>GetActiveContract</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The following oppty creation failed:
{!ScopeOpportunity}</text>
    </textTemplates>
    <variables>
        <description>Currently Active Contract for the same account as the opportunity</description>
        <name>ActiveContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CurrentlyActiveContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The opportunity currently being created</description>
        <name>ScopeOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
