flows/Set_Quote_Currency_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignQuoteValues</name>
        <label>AssignQuoteValues</label>
        <locationX>456</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>ScopeQuote.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveContract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScopeQuote.SBQQ__MasterContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrency</name>
        <label>SetCurrency</label>
        <locationX>211</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>ScopeQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateScopeRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAddOn</name>
        <label>isAddOn</label>
        <locationX>225</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>SetCurrency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>addOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SourceOppty.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveContract</targetReference>
            </connector>
            <label>addOn</label>
        </rules>
    </decisions>
    <interviewLabel>Set Quote Currency Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Quote Currency Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActiveContract</name>
        <label>GetActiveContract</label>
        <locationX>448</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQuoteValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppty.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ActiveContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>213</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAddOn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScopeQuote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SourceOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SBQQ__Renewal__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateScopeRecord</name>
        <label>UpdateScopeRecord</label>
        <locationX>204</locationX>
        <locationY>418</locationY>
        <inputReference>ScopeQuote</inputReference>
    </recordUpdates>
    <startElementReference>GetOpportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>ActiveContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScopeQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>SourceOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
