flows/Time_Spent_Rollup_On_Feature.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Sum_Up_Time_Spent_On_Current_Feature</name>
        <label>Sum Up Time Spent On Current Feature</label>
        <locationX>265</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>Time_Spent_On_Current_Feature</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_User_Story_Time_Spent_On_Current_Feature.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_User_Story_Time_Spent_On_Current_Feature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Up_Time_Spent_On_Previous_Feature</name>
        <label>Sum Up Time Spent On Previous Feature</label>
        <locationX>1070</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>Time_Spent_On_Previous_Feature</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_User_Story_Time_Spent_On_Previous_Feature.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_User_Story_Time_Spent_On_Previous_Feature</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Story_Feature_Assignment</name>
        <label>Check User Story Feature Assignment</label>
        <locationX>441</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Get_User_Stories_From_Current_Feature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No changes</defaultConnectorLabel>
        <rules>
            <name>Feature_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__US_Feature__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.copado__US_Feature__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.copado__US_Feature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Stories_From_Previous_Feature</targetReference>
            </connector>
            <label>Feature has changed</label>
        </rules>
    </decisions>
    <interviewLabel>Time Spent Rollup On Feature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Spent Rollup On Feature</label>
    <loops>
        <name>Count_User_Story_Time_Spent_On_Current_Feature</name>
        <label>Count User Story Time Spent On Current Feature</label>
        <locationX>449</locationX>
        <locationY>538</locationY>
        <collectionReference>Get_User_Stories_From_Current_Feature</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Up_Time_Spent_On_Current_Feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Feature</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_User_Story_Time_Spent_On_Previous_Feature</name>
        <label>Count User Story Time Spent On Previous Feature</label>
        <locationX>872</locationX>
        <locationY>127</locationY>
        <collectionReference>Get_User_Stories_From_Previous_Feature</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Up_Time_Spent_On_Previous_Feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Previous_Feature</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Stories_From_Current_Feature</name>
        <label>Get User Stories From Current Feature</label>
        <locationX>449</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_User_Story_Time_Spent_On_Current_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__US_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__US_Feature__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User Stories records related to previous Feature.</description>
        <name>Get_User_Stories_From_Previous_Feature</name>
        <label>Get User Stories From Previous Feature</label>
        <locationX>674</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_User_Story_Time_Spent_On_Previous_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__US_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.copado__US_Feature__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Current Feature On Time Spent Hours field</description>
        <name>Update_Current_Feature</name>
        <label>Update Current Feature</label>
        <locationX>632</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__US_Feature__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_Hours__c</field>
            <value>
                <elementReference>Time_Spent_On_Current_Feature</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Application_Feature__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Previous Feature On Time Spent Hours field</description>
        <name>Update_Previous_Feature</name>
        <label>Update Previous Feature</label>
        <locationX>872</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_User_Stories_From_Current_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.copado__US_Feature__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_Hours__c</field>
            <value>
                <elementReference>Time_Spent_On_Previous_Feature</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Application_Feature__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_User_Story_Feature_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__US_Feature__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Time_Spent_On_Current_Feature</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Time_Spent_On_Previous_Feature</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
