flows/Time_Spent_Deletion_Rollup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Current_User_Story</name>
        <label>Assign Current User Story</label>
        <locationX>405</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>currUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_Story__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Story_Work_Log_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_Story_Task</name>
        <label>Assign Current User Story Task</label>
        <locationX>876</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>currUserStoryTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_Story_Task__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Story_Task_Work_Log_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Subtracts the time of the deleted Work Log from the total time spent.</description>
        <name>Subtract_deleted_time_from_current_US_total</name>
        <label>Subtract deleted time from current US total</label>
        <locationX>416</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Subtract the time for the current Work Log from the total time spent</description>
        <name>Subtract_deleted_time_from_current_UST_total</name>
        <label>Subtract deleted time from current UST total</label>
        <locationX>1178</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Story_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_up_Hours_Spent_on_User_Story</name>
        <label>Sum up Hours Spent on User Story</label>
        <locationX>68</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countUserStoryWorkLogHours.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countUserStoryWorkLogHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Hours_Spent</name>
        <label>Sum up Hours Spent</label>
        <locationX>836</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countTaskWorkLogHours.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countTaskWorkLogHours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to see whether the log is on a US or a Task</description>
        <name>User_Story_or_Task_Work_Log</name>
        <label>User Story or Task Work Log</label>
        <locationX>633</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>No US or Task set</defaultConnectorLabel>
        <rules>
            <name>Time_Logged_on_User_Story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Story__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User_Story</targetReference>
            </connector>
            <label>Time Logged on User Story</label>
        </rules>
        <rules>
            <name>Time_Logged_on_User_Story_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Story_Task__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User_Story_Task</targetReference>
            </connector>
            <label>Time Logged on User Story Task</label>
        </rules>
    </decisions>
    <description>This Flow reacts to deleting work logs to recalculate time spent</description>
    <formulas>
        <description>Subtraction of time spent from the current Work Log before deletion.</description>
        <name>TotalTimeSpentAfterSubtraction</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Sprint__r.Time_Spent_Hours__c}-{!$Record.Time_Spent_hours__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Time Spent Deletion Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Spent Deletion Rollup</label>
    <loops>
        <name>countTaskWorkLogHours</name>
        <label>countTaskWorkLogHours</label>
        <locationX>1010</locationX>
        <locationY>417</locationY>
        <collectionReference>Get_User_Story_Task_Work_Log_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Hours_Spent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Subtract_deleted_time_from_current_UST_total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countUserStoryWorkLogHours</name>
        <label>countUserStoryWorkLogHours</label>
        <locationX>247</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_User_Story_Work_Log_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_up_Hours_Spent_on_User_Story</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Subtract_deleted_time_from_current_US_total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Story_Task_Work_Log_records</name>
        <label>Get User Story Task Work Log records</label>
        <locationX>1011</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countTaskWorkLogHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStoryTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story_Work_Log_records</name>
        <label>Get User Story Work Log records</label>
        <locationX>247</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countUserStoryWorkLogHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Time spent on Sprint with TotalTimeSpentAfterSubtraction formula before Work Log deletion.</description>
        <name>Update_Time_Spent_on_Sprint</name>
        <label>Update Time Spent on Sprint</label>
        <locationX>774</locationX>
        <locationY>571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sprint__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_Hours__c</field>
            <value>
                <elementReference>TotalTimeSpentAfterSubtraction</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Sprint__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story</name>
        <label>Update User Story</label>
        <locationX>416</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Update_Time_Spent_on_Sprint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStory</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_on_User_Story_hours__c</field>
            <value>
                <elementReference>TotalHoursSpent</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story_Task</name>
        <label>Update User Story Task</label>
        <locationX>1178</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Update_Time_Spent_on_Sprint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStoryTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_hours__c</field>
            <value>
                <elementReference>TotalHoursSpent</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>515</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Story_or_Task_Work_Log</targetReference>
        </connector>
        <object>Work_Log__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currUserStoryTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalHoursSpent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
