flows/Time_spent_rollup_on_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Sum_up_hours_on_current_Application</name>
        <label>Sum up hours on current Application</label>
        <locationX>330</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>TimeSpentOnCurrentApplication</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countFeatureTimeSpentHours.Time_Spent_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countFeatureTimeSpentHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Up_hours_on_previous_Feature</name>
        <label>Sum Up hours on previous Feature</label>
        <locationX>1135</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>TimeSpentOnPreviousApplication</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countFeatureTimeSpentOnPreviousApplication.Time_Spent_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countFeatureTimeSpentOnPreviousApplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Feature_Application_assignment</name>
        <label>Check Feature Application assignment</label>
        <locationX>494</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Get_Features_from_current_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No changes</defaultConnectorLabel>
        <rules>
            <name>Application_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Application__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.copado__Application__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Features_from_previous_Application</targetReference>
            </connector>
            <label>Application has changed</label>
        </rules>
    </decisions>
    <interviewLabel>Time spent rollup on Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time spent rollup on Application</label>
    <loops>
        <name>countFeatureTimeSpentHours</name>
        <label>countFeatureTimeSpentHours</label>
        <locationX>503</locationX>
        <locationY>497</locationY>
        <collectionReference>Get_Features_from_current_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_up_hours_on_current_Application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_current_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countFeatureTimeSpentOnPreviousApplication</name>
        <label>countFeatureTimeSpentOnPreviousApplication</label>
        <locationX>955</locationX>
        <locationY>130</locationY>
        <collectionReference>Get_Features_from_previous_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Up_hours_on_previous_Feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_previous_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Features_from_current_Application</name>
        <label>Get Features from current Application</label>
        <locationX>502</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countFeatureTimeSpentHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Application_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Features_from_previous_Application</name>
        <label>Get Features from previous Application</label>
        <locationX>722</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countFeatureTimeSpentOnPreviousApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.copado__Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Application_Feature__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_current_Application</name>
        <label>Update current Application</label>
        <locationX>682</locationX>
        <locationY>496</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_hours__c</field>
            <value>
                <elementReference>TimeSpentOnCurrentApplication</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_previous_Application</name>
        <label>Update previous Application</label>
        <locationX>955</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Get_Features_from_current_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.copado__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_hours__c</field>
            <value>
                <elementReference>TimeSpentOnPreviousApplication</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Feature_Application_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__Application_Feature__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TimeSpentOnCurrentApplication</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TimeSpentOnPreviousApplication</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
