flows/Time_Spent_Rollup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Current_User_Story</name>
        <label>Assign Current User Story</label>
        <locationX>589</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>currUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Story_Work_Log_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_Story_Task</name>
        <label>Assign Current User Story Task</label>
        <locationX>1121</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>currUserStoryTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_Story_Task__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Story_Task_Work_Log_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_up_Hours_Spent_on_User_Story</name>
        <label>Sum up Hours Spent on User Story</label>
        <locationX>136</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countUserStoryWorkLogHours.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countUserStoryWorkLogHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Hours_Spent</name>
        <label>Sum up Hours Spent</label>
        <locationX>1120</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>TotalHoursSpent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countTaskWorkLogHours.Time_Spent_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countTaskWorkLogHours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to see whether the log is on a US or a Task</description>
        <name>User_Story_or_Task_Work_Log</name>
        <label>User Story or Task Work Log</label>
        <locationX>581</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>No US or Task set</defaultConnectorLabel>
        <rules>
            <name>Time_Logged_on_User_Story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Story__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User_Story</targetReference>
            </connector>
            <label>Time Logged on User Story</label>
        </rules>
        <rules>
            <name>Time_Logged_on_User_Story_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Story_Task__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User_Story_Task</targetReference>
            </connector>
            <label>Time Logged on User Story Task</label>
        </rules>
    </decisions>
    <description>This flow rolls up time spent on User Stories and User Story Tasks</description>
    <interviewLabel>Time Spent Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Spent Rollup</label>
    <loops>
        <name>countTaskWorkLogHours</name>
        <label>countTaskWorkLogHours</label>
        <locationX>1121</locationX>
        <locationY>406</locationY>
        <collectionReference>Get_User_Story_Task_Work_Log_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Hours_Spent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Work_Log_with_Sprint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countUserStoryWorkLogHours</name>
        <label>countUserStoryWorkLogHours</label>
        <locationX>320</locationX>
        <locationY>347</locationY>
        <collectionReference>Get_User_Story_Work_Log_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_up_Hours_Spent_on_User_Story</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Story_Work_Log_With_Sprint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Story_Task_Work_Log_records</name>
        <label>Get User Story Task Work Log records</label>
        <locationX>1121</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countTaskWorkLogHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStoryTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story_Work_Log_records</name>
        <label>Get User Story Work Log records</label>
        <locationX>455</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countUserStoryWorkLogHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Spent_hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Task Work Log with Sprint.</description>
        <name>Update_Task_Work_Log_with_Sprint</name>
        <label>Update Task Work Log with Sprint</label>
        <locationX>1292</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Update_Task_Work_Log_with_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>$Record.User_Story_Task__r.copado__User_Story__r.copado__Sprint__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Work_Log_with_Status</name>
        <label>Update Task Work Log with Status</label>
        <locationX>1452</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Update_User_Story_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Story_Status__c</field>
            <value>
                <elementReference>$Record.User_Story_Task__r.copado__User_Story__r.copado__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story</name>
        <label>Update User Story</label>
        <locationX>159</locationX>
        <locationY>574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStory</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_on_User_Story_hours__c</field>
            <value>
                <elementReference>TotalHoursSpent</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story_Task</name>
        <label>Update User Story Task</label>
        <locationX>1452</locationX>
        <locationY>597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currUserStoryTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_Spent_hours__c</field>
            <value>
                <elementReference>TotalHoursSpent</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update User Story Work Log with Sprint.</description>
        <name>Update_User_Story_Work_Log_With_Sprint</name>
        <label>Update User Story Work Log With Sprint</label>
        <locationX>483</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>Update_User_Story_Work_Log_With_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>$Record.User_Story__r.copado__Sprint__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update User Story Work Log With Status</description>
        <name>Update_User_Story_Work_Log_With_Status</name>
        <label>Update User Story Work Log With Status</label>
        <locationX>324</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Update_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>User_Story_Status__c</field>
            <value>
                <elementReference>$Record.User_Story__r.copado__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Story_or_Task_Work_Log</targetReference>
        </connector>
        <object>Work_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currUserStoryTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalHoursSpent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
