flows/Update_User_Story_depends_on_Test_runs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Test_Run</name>
        <label>Count Test Run</label>
        <locationX>1414</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>CountTestRun</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Test_runs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InProgressCounter</name>
        <label>InProgressCounter</label>
        <locationX>1150</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>CountInProgress</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Test_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PassedCounter</name>
        <label>PassedCounter</label>
        <locationX>1414</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>CountPassed</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Test_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter</name>
        <label>Set Counter</label>
        <locationX>358</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.Test_Runs_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CountPassed}/{!CountTestRun}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_for_APO_User_Story_0</name>
        <label>Set Status for APO User Story</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Release</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Test_run_passed</name>
        <label>Set Test run passed</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.copado__Manual_Tests_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Testing_in_progress</name>
        <label>Set to Testing in progress</label>
        <locationX>578</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Testing in Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_All_Test_run_Passed</name>
        <label>Uncheck All Test run Passed</label>
        <locationX>358</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.copado__Manual_Tests_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Analyze_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Analyze_Counter</name>
        <label>Analyze Counter</label>
        <locationX>358</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Set_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_APO_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Counter</targetReference>
            </connector>
            <label>Is Released</label>
        </rules>
        <rules>
            <name>All_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountTestRun</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APO_User_Story_0</targetReference>
            </connector>
            <label>All passed</label>
        </rules>
        <rules>
            <name>One_At_Least_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountInProgress</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeApoUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Testing_in_progress</targetReference>
            </connector>
            <label>One At Least In Progress &amp; Not APO US</label>
        </rules>
    </decisions>
    <decisions>
        <name>APO_User_Story_0</name>
        <label>APO User Story in APOUAT Test Passed</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Set_Test_run_passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APO_Test_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeApoUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.copado__Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APOUAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_for_APO_User_Story_0</targetReference>
            </connector>
            <label>APO Test Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>688</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Record_Type</name>
            <conditionLogic>(1 OR 2 OR 4 OR 5) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeBugId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeApoUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeSubtaskId_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTestScripts</targetReference>
            </connector>
            <label>Valid Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Test_Run_Status</name>
        <label>Check Test Run Status</label>
        <locationX>1414</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Count_Test_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_In_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Test_runs.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgressCounter</targetReference>
            </connector>
            <label>Is In progress</label>
        </rules>
        <rules>
            <name>Is_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Test_runs.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed with comments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Test_runs.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PassedCounter</targetReference>
            </connector>
            <label>Is Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Story</name>
        <label>Check User Story</label>
        <locationX>985</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__User_Story__r.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__User_Story__r.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeBugId</targetReference>
            </connector>
            <label>Has User Story</label>
        </rules>
    </decisions>
    <description>Update the user story based on the statuses of the Test run</description>
    <interviewLabel>Update User Story depends on Test runs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story depends on Test runs</label>
    <loops>
        <name>Iterate_test_scripts</name>
        <label>Iterate test scripts</label>
        <locationX>358</locationX>
        <locationY>1271</locationY>
        <collectionReference>GetTestScripts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Test_Runs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Uncheck_All_Test_run_Passed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Test_runs</name>
        <label>Loop Test runs</label>
        <locationX>1062</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Test_Runs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Test_Run_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_test_scripts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Runs</name>
        <label>Get Test Runs</label>
        <locationX>1062</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Test_runs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Test_Script__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_test_scripts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Test_Run__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>688</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>copado__Environment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeApoUserStoryId</name>
        <label>GetRecordTypeApoUserStoryId</label>
        <locationX>688</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeSubtaskId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APO User Story</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeBugId</name>
        <label>GetRecordTypeBugId</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeUserStoryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeSubtaskId_0</name>
        <label>GetRecordTypeSubtaskId</label>
        <locationX>688</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subtask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeUserStoryId</name>
        <label>GetRecordTypeUserStoryId</label>
        <locationX>688</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeApoUserStoryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Story</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTestScripts</name>
        <label>GetTestScripts</label>
        <locationX>358</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_test_scripts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Story.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Test_Script__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_story</name>
        <label>Update User story</label>
        <locationX>358</locationX>
        <locationY>3071</locationY>
        <inputReference>Get_User_Story</inputReference>
    </recordUpdates>
    <start>
        <locationX>859</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Story</targetReference>
        </connector>
        <object>copado__Test_Run__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountPassed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTestRun</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
