flows/Update_ClickDeploy_Existing_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email will be sent if Org Id is blank</description>
        <name>Error_notification</name>
        <label>Error notification</label>
        <locationX>575</locationX>
        <locationY>318</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hlamba@copado.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured in ClickDeploy Opportunity : Org Id not found</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send email notification if CheckDeployOpporutnity is blank</description>
        <name>Send_email_notification_if_CheckDeployOpporutnity_is_blank</name>
        <label>Send email notification if CheckDeployOpporutnity is blank</label>
        <locationX>924</locationX>
        <locationY>308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hlamba@copado.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured in ClickDeploy Existing Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Build_ClickDeploy_Premium_Opportunity</name>
        <label>Build ClickDeploy Premium Opportunity</label>
        <locationX>1110</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetAccount.Name} - Premium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClickDeploy - EssentialsPlus - Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X30DaysFromToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ClickDeploy_Salesforce_Org_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>225.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ClickDeploy_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check ClickDeployOpportunity is blank or not</description>
        <name>Check_ClickDeployOpportunity_is_not_blank</name>
        <label>Check ClickDeployOpportunity is not blank</label>
        <locationX>919</locationX>
        <locationY>78</locationY>
        <defaultConnector>
            <targetReference>Build_ClickDeploy_Premium_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ClickDeployOpportunity not blank</defaultConnectorLabel>
        <rules>
            <name>ClickDeployOpportunity_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClickDeployOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_notification_if_CheckDeployOpporutnity_is_blank</targetReference>
            </connector>
            <label>ClickDeployOpportunity is blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send an email if Org Id is blank else go to the next get records</description>
        <name>Check_Org_ID_is_blank</name>
        <label>Check Org ID is blank</label>
        <locationX>566</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Enterprise_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Org Id is not blank</defaultConnectorLabel>
        <rules>
            <name>Org_Id_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClickDeploy_Salesforce_Org_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_notification</targetReference>
            </connector>
            <label>Org Id is blank</label>
        </rules>
    </decisions>
    <description>Updating the existing opportunity to premium with new values.</description>
    <formulas>
        <name>X30DaysFromToday</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(Today(), 1)</expression>
    </formulas>
    <interviewLabel>Update ClickDeploy Existing Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ClickDeploy Existing Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Enterprise_Opportunities</name>
        <label>Get Existing Enterprise Opportunities</label>
        <locationX>776</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ClickDeployOpportunity_is_not_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClickDeploy - Essentials - Monthly</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ClickDeployOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>435</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Org_ID_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClickDeploy_Salesforce_Org_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ClickDeploy_Opportunity</name>
        <label>Update ClickDeploy Opportunity</label>
        <locationX>1107</locationX>
        <locationY>311</locationY>
        <inputReference>ClickDeployOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>This is contain the body of the email</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Record Details:
Org Id: {!ClickDeploy_Salesforce_Org_Id}
Account Id: {!GetAccount.Id}
User Id: {!ClickDeploy_User_Id}</text>
    </textTemplates>
    <variables>
        <name>ClickDeploy_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Expiry_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Enterprise_Trial_Started</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Salesforce_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClickDeploy_Total_Deploy_This_Month</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClickDeploy_User_Id</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Lead for ClickDeploy</description>
        <name>ClickDeployLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Leads for ClickDeploy</description>
        <name>ClickDeployLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ClickDeployOppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
