flows/Update_User_Story_depends_on_PullRequestReview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ApprovedCounter</name>
        <label>ApprovedCounter</label>
        <locationX>710</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>CountApproved</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pull_Request_Reviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Pull_Request_Review</name>
        <label>Check Pull Request Review</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.copado__Pull_Requests_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Review_0</name>
        <label>Count Review</label>
        <locationX>622</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>CountReviews</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_pull_requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter</name>
        <label>Set Counter</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Story.Pull_Requests_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CountApproved}/{!CountReviews}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Approvals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approvals</name>
        <label>Check Approvals</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Update_User_story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_Pull_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountApproved</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Pull_Request_Review</targetReference>
            </connector>
            <label>Is Approved Pull Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pull_Request_Review_Status</name>
        <label>Check Pull Request Review Status</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_Pull_Request_Reviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Pull_Request_Reviews.copado__Review_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedCounter</targetReference>
            </connector>
            <label>Is Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>336</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Record_Type</name>
            <conditionLogic>(1 OR 2 OR 5) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeBugId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Pull_Request__r.copado__State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Review_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Commented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Story.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeSubtaskId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPullRequests</targetReference>
            </connector>
            <label>Valid Record Type</label>
        </rules>
    </decisions>
    <description>Update User Story depends on PullRequestReview</description>
    <interviewLabel>Update User Story depends on PullRequestReview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story depends on PullRequestReview</label>
    <loops>
        <name>Iterate_pull_requests</name>
        <label>Iterate pull requests</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>GetPullRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pull_Request_Reviews</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Pull_Request_Reviews</name>
        <label>Loop Pull Request Reviews</label>
        <locationX>622</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Pull_Request_Reviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Pull_Request_Review_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Review_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pull_Request_Reviews</name>
        <label>Get Pull Request Reviews</label>
        <locationX>622</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pull_Request_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Pull_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_pull_requests.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Review_Action__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Commented</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Pull_Request_Review__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Review_Action__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>336</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Pull_Request__r.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPullRequests</name>
        <label>GetPullRequests</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_pull_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Story.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Pull_Request__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeBugId</name>
        <label>GetRecordTypeBugId</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeUserStoryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeSubtaskId</name>
        <label>GetRecordTypeSubtaskId</label>
        <locationX>336</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subtask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeUserStoryId</name>
        <label>GetRecordTypeUserStoryId</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeSubtaskId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Story</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_story</name>
        <label>Update User story</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <inputReference>Get_User_Story</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeBugId</targetReference>
        </connector>
        <object>copado__Pull_Request_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountReviews</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
