flows/Update_User_Story_Status_for_VSM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_to_Ready_for_development</name>
        <label>Update to Ready for development</label>
        <locationX>940</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Development</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_to_Ready_for_investigation</name>
        <label>Update to Ready for investigation</label>
        <locationX>951</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Investigation</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Sprint_changed</name>
        <label>Sprint changed</label>
        <locationX>343</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sprint</name>
            <conditionLogic>1 AND 5 AND 6 AND  7 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeBugId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeInvestigationId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeUserStoryId.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetExistingUserStory.copado__Sprint__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetExistingUserStory.copado__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetExistingUserStory.copado__Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSprintName</targetReference>
            </connector>
            <label>Sprint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sprint_is_refinement_or_not</name>
        <label>Sprint is refinement or not</label>
        <locationX>541</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Update_to_Ready_for_development</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsInvestigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeInvestigationId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Ready_for_investigation</targetReference>
            </connector>
            <label>IsInvestigation</label>
        </rules>
    </decisions>
    <description>Manage statuses automatically for Planning in progress, Ready for Investigation, Ready for Development</description>
    <interviewLabel>Update User Story Status for VSM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Status for VSM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetExistingUserStory</name>
        <label>GetExistingUserStory</label>
        <locationX>350</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sprint_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
        <queriedFields>copado__Sprint__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeBugId</name>
        <label>GetRecordTypeBugId</label>
        <locationX>176</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeInvestigationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeInvestigationId</name>
        <label>GetRecordTypeInvestigationId</label>
        <locationX>176</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeUserStoryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeUserStoryId</name>
        <label>GetRecordTypeUserStoryId</label>
        <locationX>177</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingUserStory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Story</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSprintName</name>
        <label>GetSprintName</label>
        <locationX>558</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sprint_is_refinement_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Sprint__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Sprint__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetRecordTypeBugId</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
