flows/Update_EBQ_On_Campaign_Member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Campaign_Type</name>
        <label>Check Campaign Type</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Check Contact</label>
        </rules>
        <rules>
            <name>Check_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Check Lead</label>
        </rules>
    </decisions>
    <interviewLabel>Update EBQ On Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update EBQ On Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member_By_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member_By_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_By_Contact</name>
        <label>Update Campaign Member By Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>EBQ_Added__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Cadence__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Cadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Comments__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Connected__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Connected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Date__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_First_Touch__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_First_Touch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Next_Step__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rating__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rep__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Rep2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_By_Lead</name>
        <label>Update Campaign Member By Lead</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>EBQ_Added__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Cadence__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Cadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Comments__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Connected__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Connected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Date__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_First_Touch__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_First_Touch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Next_Step__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rating__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rep__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Rep2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Campaign_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
