flows/Update_Released_Order_ACV_on_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>finalContractACV</name>
        <dataType>Currency</dataType>
        <expression>{!getContract.Order_ACV__c} - {!$Record.Quote_ACV__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalContractCurrARR</name>
        <dataType>Currency</dataType>
        <expression>{!getContract.Order_Current_ARR__c} - {!$Record.Current_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalFirstYrARR</name>
        <dataType>Currency</dataType>
        <expression>{!getContract.Order_1st_yr_ARR__c} - {!$Record.X1st_yr_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalNonStandardACV</name>
        <dataType>Currency</dataType>
        <expression>{!getContract.Non_Standard_ACV__c} - {!$Record.Non_Standard_ACV__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Released Order ACV on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Released Order ACV on Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>176</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.kuga_sub__ContractNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_ACV__c</queriedFields>
        <queriedFields>Order_Current_ARR__c</queriedFields>
        <queriedFields>Order_1st_yr_ARR__c</queriedFields>
        <queriedFields>Non_Standard_ACV__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Contract</name>
        <label>update Contract</label>
        <locationX>451</locationX>
        <locationY>315</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.kuga_sub__ContractNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_Standard_ACV__c</field>
            <value>
                <elementReference>finalNonStandardACV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_1st_yr_ARR__c</field>
            <value>
                <elementReference>finalFirstYrARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_ACV__c</field>
            <value>
                <elementReference>finalContractACV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Current_ARR__c</field>
            <value>
                <elementReference>finalContractCurrARR</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>kuga_sub__ContractNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>kugo2p__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>kugo2p__RecordStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <object>kugo2p__SalesOrder__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Released</stringValue>
        </value>
    </variables>
</Flow>
