flows/Update_User_Story_Team_using_Developer_Team.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decision_Developer_Has_Team</name>
        <label>Decision Developer Has Team</label>
        <locationX>461</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>copadoTeam.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Story_Team</targetReference>
            </connector>
            <label>Outcome Team</label>
        </rules>
    </decisions>
    <interviewLabel>Update User Story Team using Developer Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Team using Developer Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_by_Developer</name>
        <label>Get Team by Developer</label>
        <locationX>245</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Developer_Has_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>developerId</elementReference>
            </value>
        </filters>
        <object>copado__Team_Member__c</object>
        <outputReference>copadoTeam</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Team__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Story_Team</name>
        <label>Update User Story Team</label>
        <locationX>699</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Team__c</field>
            <value>
                <elementReference>copadoTeam.copado__Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Team_by_Developer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>copadoTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Team_Member__c</objectType>
    </variables>
    <variables>
        <name>developerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
