flows/Update_ClickDeploy_Basic_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Build_ClickDeploy_Basic_Opportunity</name>
        <label>Build ClickDeploy Basic Opportunity</label>
        <locationX>577</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed Contract Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClickDeployOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ClickDeploy_Basic_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_and_Update_Opportunity</name>
        <label>Assign and Update Opportunity</label>
        <locationX>305</locationX>
        <locationY>151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_and_Update_Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_ClickDeploy_Basic_Opportunity</targetReference>
            </connector>
            <label>Assign and Update Opportunity Outcome</label>
        </rules>
    </decisions>
    <interviewLabel>Update ClickDeploy Basic Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ClickDeploy Basic Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>132</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_and_Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClickDeploy_Salesforce_Org_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClickDeploy_Salesforce_Org_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ClickDeploy - Essentials - Monthly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ClickDeploy_Basic_Opportunity</name>
        <label>Update ClickDeploy Basic Opportunity</label>
        <locationX>909</locationX>
        <locationY>153</locationY>
        <inputReference>ClickDeployOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>17</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ClickDeploy_Salesforce_Org_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lead for ClickDeploy</description>
        <name>ClickDeployLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Leads for ClickDeploy</description>
        <name>ClickDeployLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ClickDeployOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
