flows/Update_EBQ_Field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Campaign_Member_Type</name>
        <label>Check Campaign Member Type</label>
        <locationX>161</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Lead_Type</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Check Lead Type</label>
        </rules>
        <rules>
            <name>Check_Contact_Type</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Check Contact Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>531</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_By_Contact</targetReference>
            </connector>
            <label>Check Contact Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>518</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Lead_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member</targetReference>
            </connector>
            <label>Check Lead Null</label>
        </rules>
    </decisions>
    <interviewLabel>Update EBQ Field  On Campaign  Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update EBQ Field On Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>172</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>345</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>739</locationX>
        <locationY>335</locationY>
        <inputAssignments>
            <field>EBQ_Added__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Cadence__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Cadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Comments__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Connected__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Connected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Date__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_First_Touch__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_First_Touch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Next_Step__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rating__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rep__c</field>
            <value>
                <elementReference>Get_Lead.EBQ_Rep2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_By_Contact</name>
        <label>Update Campaign Member By Contact</label>
        <locationX>755</locationX>
        <locationY>495</locationY>
        <inputAssignments>
            <field>EBQ_Added__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Cadence__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Cadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Comments__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Connected__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Connected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Date__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_First_Touch__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_First_Touch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Next_Step__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rating__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rep__c</field>
            <value>
                <elementReference>Get_Contact_Record.EBQ_Rep2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Campaign_Member_Type</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
