flows/Update_User_Story_Parent_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CompletedCount</name>
        <label>CompletedCount</label>
        <locationX>1081</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>numberOfCompletedSubtasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubtaskDefaultCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InProgressCount</name>
        <label>InProgressCount</label>
        <locationX>1057</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>numberOfInProgressSubtasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubtaskDefaultCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubtaskDefaultCount</name>
        <label>SubtaskDefaultCount</label>
        <locationX>1287</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>numberOfSubtask</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSubtasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateToInProgress</name>
        <label>UpdateToInProgress</label>
        <locationX>1073</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>parentUS.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Development In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateParent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkStatus</name>
        <label>checkStatus</label>
        <locationX>795</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>SubtaskDefaultCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InProgressStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subtaskId.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgressCount</targetReference>
            </connector>
            <label>InProgressStatus</label>
        </rules>
        <rules>
            <name>CompletedSubtasks</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>subtaskId.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subtaskId.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tested in Base Package</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subtaskId.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subtaskId.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedCount</targetReference>
            </connector>
            <label>CompletedSubtasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetParentUserStory</name>
        <label>SetParentUserStory</label>
        <locationX>785</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetToInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfInProgressSubtasks</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateToInProgress</targetReference>
            </connector>
            <label>SetToInProgress</label>
        </rules>
        <rules>
            <name>SetToCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfInProgressSubtasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfCompletedSubtasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>numberOfSubtask</elementReference>
                </rightValue>
            </conditions>
            <label>SetToCompleted</label>
        </rules>
    </decisions>
    <description>Update the user story parent status depend on the statuses of the child&apos;s user stories</description>
    <interviewLabel>Update User Story Parent Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Parent Status</label>
    <loops>
        <name>loopSubtasks</name>
        <label>loopSubtasks</label>
        <locationX>509</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>subtaskId</assignNextValueToReference>
        <collectionReference>subtasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetParentUserStory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetParentUserStory</name>
        <label>GetParentUserStory</label>
        <locationX>399</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSubtasksFromParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>parentUS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSubtasksFromParent</name>
        <label>getSubtasksFromParent</label>
        <locationX>535</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSubtasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputReference>subtasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParent</name>
        <label>UpdateParent</label>
        <locationX>1273</locationX>
        <locationY>575</locationY>
        <inputReference>parentUS</inputReference>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetParentUserStory</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>numberOfCompletedSubtasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfInProgressSubtasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfSubtask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>parentUS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subtaskId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>subtasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
